@font-face {
  font-family: 'abril_fatfaceregular';
  src: url('../../..//abrilfatface-regular-webfont.woff2') format('woff2'),
    url('fonts/abrilfatface-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'coneria_script_demoregular';
  src: url('./../../../fonts/demo_coneriascript-webfont.woff2') format('woff2'),
    url('./../../../fonts/demo_coneriascript-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'acmeregular';
  src: url('../../../fonts/acme-regular-webfont.woff2') format('woff2'),
    url('../../../fonts/') format('woff');
  font-weight: normal;
  font-style: normal;

}



.point {
  width: 30px;
  height: 30px;
  position: relative;
  top: 5.2rem;
  box-shadow: 5px 15px 45px rgb(209, 118, 6);
  left: 0.6rem;
  border-radius: 50%;
  background-color: rgb(209, 118, 6);
  animation: blink 2s infinite;
}

@keyframes blink {

  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes shadow {
  0% {
    box-shadow: none;
  }

  50% {
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.5);
  }

  100% {
    box-shadow: none;
  }
}

.adventure {
  position: relative;
  top: 7vw;

  h1 {
    font-family: 'Acme', sans-serif;
    font-weight: 900;
    font-size: calc(1.275rem + 1.5vw);
  }
}

#carouselExampleControl2 {
  width: 58%;
  height: 73vh;
  border-radius: 18px;

  #inner {
    height: 73vh;
    width: 100%;
    border-radius: 18px;

    img {
      height: 73vh;
      width: 58%;
      border-radius: 18px;
    }
  }
}

@media (min-width: 576px) {
  #carouselExampleControl2 {
    width: 82%;
    height: 40vh;
    border-radius: 18px;
    margin-left: 9.7%;

    #inner {
      height: 40vh;
      width: 100%;
      border-radius: 18px;

      img {
        height: 40vh;
        width: 58%;
        border-radius: 18px;
      }
    }
  }

  #point {
    position: relative;
    margin-left: -23rem;
    top: 5.5rem;
  }

  .adventure {
    position: relative;
    top: -20.6rem;
  }

  h3 {
    color: #7851a9;
    position: absolute;
    top: 2.5rem;
    left: 35%;
    font-weight: bold;

    i {
      color: #7851a9;
    }
  }


  #classic_h1 {
    font-family: 'Acme', sans-serif;
    font-weight: 900;
    font-size: 40px;
    position: relative;
    color: #36454f;
  }

  .adventure {
    position: relative;
    top: 5.5rem;

    .row {
      margin-left: 6%;
      margin-top: 5rem;

      div {
        width: 91%;

        //  background-color:  #fef250,;
        div {
          background-color: #a5a5a554;
          padding: 0;

          h2 {
            color: rgb(51, 44, 48);
            font-family: 'Signika', sans-serif;
            font-weight: bold;
            font-size: calc(0.78rem + 1.7vw);

            i {
              color: rgb(240, 136, 8);
            }

          }

          p {
            font-size: calc(0.7rem + 0.95vw);
            // font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
          }

          h4 {
            color: rgb(209, 118, 6);
            font-family: 'Signika', sans-serif;
            font-weight: bold;
            font-size: calc(1rem + 1.7vw);

            i {
              color: rgb(209, 118, 6);
            }

          }



        }
      }
    }
  }

}

@media (min-width: 992px) {
  .point {
    top: 5.2rem;
    left: 0.3rem;
  }

  #point {
    position: relative;
    margin-left: 0%;
    top: 5.5rem;
  }

  #carouselExampleControl2 {
    width: 58%;
    height: 73vh;
    border-radius: 18px;
    margin-left: 20.7%;

    #inner {
      height: 73vh;
      width: 100%;
      border-radius: 18px;

      img {
        height: 73vh;
        width: 58%;
        border-radius: 18px;
      }
    }
  }

  .point {
    position: relative;
    left: 1.2rem;
    top: 5.5rem;
  }

  .adventure {
    position: relative;
    top: 7.3rem;


    h3 {
      color: #7851a9;
      position: absolute;
      top: 2.5rem;
      left: 6rem;
      font-weight: 800;

      i {
        color: #7851a9;
      }
    }


    #classic_h1 {
      font-family: 'Acme', sans-serif;
      font-weight: 900;
      font-size: 47px;
      position: relative;
      left: 1.9rem;
      color: #36454f;
    }

    .row {
      margin-left: 20.5%;
      margin-top: 5rem;

      div {
        width: 72%;

        //  background-color:  #fef250,;
        div {
          background-color: #a5a5a554;

          h2 {
            color: rgb(51, 44, 48);
            font-family: 'Signika', sans-serif;
            font-weight: bold;
            font-size: calc(0.38rem + 1.7vw);

            i {
              color: rgb(240, 136, 8);
            }

          }

          h4 {
            color: rgb(209, 118, 6);
            font-family: 'Signika', sans-serif;
            font-weight: bold;
            font-size: calc(0.6rem + 1.7vw);

            i {
              color: rgb(209, 118, 6);
            }

          }

          p {
            font-size: calc(0.5rem + 0.95vw);
            // font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
          }




        }
      }
    }
  }



}

@media (max-width: 575px) {

  #carouselExampleControl2 {
    width: 95%;
    height: 50vh;
    border-radius: 18px;
    text-align: center;
    margin-left: 2.4vw;

    #inner {
      height: 50vh;
      width: 100%;
      border-radius: 18px;

      img {
        height: 50vh;
        width: 58%;
        border-radius: 18px;
      }
    }
  }

  .adventure {
    position: relative;
    top: 44vw;

    h3 {
      color: #7851a9;
      position: relative;
      top: 3.7rem;
      font-weight: 800;

      i {
        color: #7851a9;
      }
    }



    #classic_h1 {
      font-family: 'Acme', sans-serif;
      font-weight: 900;
      font-size: calc(1.7rem + 1.5vw);
      color: #36454f;
    }

    .row {
      position: relative;
      left: 0%;
      top: 9.8rem;

      div {


        div {

          background-color: #a5a5a554;

          h2 {
            color: rgb(51, 44, 48);
            font-family: 'Signika', sans-serif;
            font-weight: bold;
            font-size: calc(1.19rem + 1.7vw);

            i {
              color: rgb(209, 118, 6);
            }

          }

          h4 {
            color: rgb(209, 118, 6);
            font-family: 'Signika', sans-serif;
            font-weight: bold;
            font-size: calc(1.5rem + 1.7vw);

            i {
              color: rgb(209, 118, 6);
            }
          }

          p {
            font-size: calc(0.95rem + 0.95vw);
            // font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;




          }
        }
      }
    }
  }
}