#couverture{
    height: 35vh;
    filter: brightness(50%);
    }

    @media (min-width: 576px) {
        #couverture{
            height: 37vh;
            filter: brightness(50%);
            }
    }

    @media (min-width: 992px) { 
        #couverture{
            height: 64vh;
            filter: brightness(50%);
            }
     }
    
   
    