.couv {
    h1 {
        font-family: 'acmeregular';
        font-weight: 900;
        font-size: calc(1.800rem + 1.5vw);
        position: relative;
        top: -26vh;
        left: 24vw;
        color: #fff;
        width: 50%;
        font-family: 'acmeregular';
    }

    h3 {
        font-family: 'acmeregular';
        font-weight: 900;
        font-size: calc(1.120rem + 1.2vw);
        position: relative;
        color: rgb(177, 165, 1);
        top: -27vh;
        font-family: 'coneria_script_demoregular';
        left: 24vw;
        width: 50%;
    }

    div {
        overflow: hidden;
    }

    #couv_ {
        height: 24rem;
        overflow: hidden;
        filter: brightness(57%);

        img {
            position: relative;
            height: 38.6rem;
            width: 100%;
        }
    }

}



@media (min-width: 576px) {
    #couverture {
        height: 21rem;
        filter: brightness(50%);
    }

    .couv {
        h1 {
            font-size: calc(1.600rem + 1.5vw);
            position: relative;
            top: -13rem;
        }

        h3 {

            font-size: calc(1.120rem + 1.2vw);
            position: relative;
            color: rgb(177, 165, 1);
            top: -14rem;
        }

    }

}

@media (min-width: 992px) {
    #couverture {
        height: 60vh;
        filter: brightness(50%);
    }
}

@media (max-width: 575px) {
    .couv {
        h1 {
            font-family: 'acmeregular';
            font-weight: 900;
            font-size: calc(1.600rem + 1.5vw);
            position: relative;
            top: -28vh;
            left: 5vw;
            width: 90%;
            font-family: 'acmeregular';
        }


        #couv_ {
            height: 19.1rem;
            overflow: hidden;
            filter: brightness(57%);
    
            img {
                position: relative;
                height: 25rem;
                width: 100%;
            }
        }


        h3 {
            font-family: 'acmeregular';
            font-weight: 900;
            font-size: calc(1.270rem + 1.2vw);
            position: relative;
            color: rgb(177, 165, 1);
            top: -30vh;
            font-family: 'coneria_script_demoregular';
            left: 24vw;
            width: 50%;
        }

    }

}