#couverture{
    height: 45vh;
    filter: brightness(50%);
    }

    @media (min-width: 576px) {
        #couverture{
            height: 50vh;
            filter: brightness(50%);
            }
    }

    @media (min-width: 992px) { 
        #couverture{
            height: 72vh;
            filter: brightness(50%);
            }
     }
    
   
    