font-face {
    font-family: 'coneria_script_demoregular';
    src: url('./../../../fonts/demo_coneriascript-webfont.woff2') format('woff2'),
        url('./../../../fonts/demo_coneriascript-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'yeseva_oneregular';
    src: url('../../../fonts/yesevaone-regular-webfont.woff2') format('woff2'),
        url('../../../fonts/yesevaone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'acmeregular';
    src: url('../../../fonts/acme-regular-webfont.woff2') format('woff2'),
      url('../../../fonts/') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }

@import './../../../settings.scss';

b {
    color: rgb(62, 56, 56);
}


.title_north {
    margin-left: 3%;
    font-size: calc(1.875rem + 1.5vw);
    font-family: 'acmeregular';
    font-weight: bold;
}


.north {
    position: relative;
    top: -3rem;

    .desc {
        margin-top: 1rem;
        position: relative;
        left: 0vw;
        width: 90%;
    }

    .suggest {
        margin-top: 3.5rem;

        h1 {
            color: rgb(209, 118, 6);
            margin-left: 3rem;
            font-weight: bold;
            font-family: 'acmeregular';
            font-size: calc(1.3rem + 1.5vw);
            ;
        }

        .border_ {
            width: 6.6rem;
            height: 6px;
            border-radius: 18px;
            margin-left: 3.3rem;
            background-color: rgb(209, 118, 6);
        }

        .row {
            margin-top: 5rem;

            .box {
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
                padding: 20px;
                border-radius: 15px;
                margin-bottom: 45px;
                overflow: hidden;

                h4{
                      margin-top: 1rem; 
                      font-size: calc(0.75rem + 1vw);
                      color: rgb(209, 118, 6);
                      font-weight: bold;
                      font-family: 'Signika', sans-serif;

                        i{
                            color: rgb(209, 118, 6);
                        }

                }

                h2{
                    margin-top: 1rem; 
                    font-size: calc(0.9rem + 1vw);
                    font-weight: bold;
                    font-family: 'acmeregular';
                }

                button{
                      margin-left: 37%;
                     margin-top: 1.1rem;
                     font-size: 19.5px;
                     background-color:rgb(209, 118, 6) ;
                     color: #fff;
                }

                img {
                    width: 120%;
                    height: 14rem;
                    margin-left: -21px;
                    margin-top: -21px;
                    margin-right: 21px;

                }
            }

        }
    }
}

.border_{
    width: 6.6rem;
    height: 6px;
    border-radius: 18px;
    margin-left: 0%;
    background-color: rgb(209, 118, 6);
}


@media (min-width: 576px) {
    .title_north {
        color: rgb(209, 118, 6);
        margin-left: 3rem;
        font-family: 'acmeregular';
        font-size: 38px;
    }

    .border_{
        margin-left: 7.3%;
    }

    .north {
        position: relative;
        top: -3rem;
    
        .desc {
            left: -3vw;
            width: 90%;
        }
    }


}

@media (max-width: 575px) {
    .north {
        position: relative;
        top: -5rem;

        .desc {
            position: relative;
            left: -8vw;
            width: 92%;
            font-size: calc(1.05rem + 1.5vw);
        }

        .suggest {
    
            h1 {
                margin-left: 1.2rem;
                font-size: calc(1.7rem + 1.5vw);
            }
    
            .border_ {
                margin-left: 1.2rem;
            }
    
            .row {
                margin-top: 5rem;
    
                .box {
    
                    h4{
                          font-size: calc(1.4rem + 1vw);
    
                    }
    
                    h2{
                        font-size: calc(1.5rem + 1vw);
                    }
                    button{

                    font-size: 21.5px;
                    }

    
                }
    
            }
    
    
        }
    }

    .title_north {
        color: rgb(209, 118, 6);
        font-size: calc(1.8rem + 1.5vw);
    }
    .border_{
        margin-left: 3.4%;
    }

}

@media (min-width: 992px) {
    .title_north {
        margin-left: 3rem;
        font-size: calc(1.3rem + 1.5vw);
    }

    .border_{
        margin-left: 3.7%;
    }

    .north {
        position: relative;
        top: -3rem;
    
        .desc {
            left: 0vw;
            width: 90%;
        }
    }

}