@charset "UTF-8";
* {
  text-decoration: none;
  list-style: none;
  color: rgb(227, 216, 201);
}

html::-webkit-scrollbar {
  background-color: white;
  width: 10px;
  scrollbar-width: thin;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(53, 44, 44, 0.555);
  height: -5px;
  width: 6px;
  border-radius: 10px;
}

@font-face {
  font-family: "coneria_script_demoregular";
  src: url("./fonts/demo_coneriascript-webfont.woff2") format("woff2"), url("./fonts/demo_coneriascript-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "unnabold";
  src: url("fonts/unna-bold-webfont.woff2") format("woff2"), url("fonts/unna-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "yeseva_oneregular";
  src: url("fonts/yesevaone-regular-webfont.woff2") format("woff2"), url("fonts/yesevaone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "font-1";
  src: url("./fonts/josefinsans-variablefont_wght-webfont.woff2") format("woff2"), url("./fonts/josefinsans-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "battoraregular";
  src: url("fonts/battora-webfont.woff2") format("woff2"), url("./fonts/battora-webfont .woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "alfa_slab_oneregular";
  src: url("./fonts/alfaslabone-regular-webfont.woff2") format("woff2"), url("fonts/alfaslabone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "paytone_oneregular";
  src: url("fonts/paytoneone-regular-webfont.woff2") format("woff2"), url("fonts/paytoneone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@font-face {
  font-family: "coneria_script_demoregular";
  src: url("./../../../fonts/demo_coneriascript-webfont.woff2") format("woff2"), url("./../../../fonts/demo_coneriascript-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.couv h1 {
  font-family: "Acme", sans-serif;
  font-weight: 900;
  font-size: calc(1.8rem + 1.5vw);
  position: relative;
  top: -24vh;
  left: 24vw;
  color: #fff;
  width: 50%;
}
.couv div {
  overflow: hidden;
}
.couv #couv_ {
  height: 28rem;
  overflow: hidden;
  filter: brightness(57%);
}
.couv #couv_ img {
  position: relative;
  height: 34rem;
  width: 100%;
}
.couv #couv_1 {
  height: 28rem;
  display: none;
  overflow: hidden;
  filter: brightness(57%);
}
.couv #couv_1 img {
  position: relative;
  height: 34rem;
  width: 100%;
}

@media (max-width: 575px) {
  .couv #couv_1 {
    height: 21rem;
    display: block;
    overflow: hidden;
    filter: brightness(52%);
  }
  .couv #couv_1 img {
    position: relative;
    height: 28rem;
    width: 100%;
  }
  .couv #couv_ {
    display: none;
  }
}
@media (min-width: 576px) {
  #couverture {
    height: 21rem;
    filter: brightness(50%);
  }
  .couv h1 {
    font-size: calc(1.6rem + 1.5vw);
    position: relative;
    top: -13rem;
  }
  .couv h3 {
    font-size: calc(1.12rem + 1.2vw);
    position: relative;
    color: rgb(177, 165, 1);
    top: -14rem;
    font-family: "Signika", sans-serif;
  }
}
@media (min-width: 992px) {
  #couverture {
    height: 60vh;
    filter: brightness(50%);
  }
  .couv h1 {
    font-size: calc(1.6rem + 1.5vw);
    position: relative;
    top: -10rem;
  }
}
@media (max-width: 575px) {
  .couv h1 {
    font-family: "Acme", sans-serif;
    font-weight: 900;
    font-size: calc(1.7rem + 1.3vw);
    position: relative;
    top: -19vh;
    left: 5vw;
    width: 90%;
  }
  .couv #couv_ {
    height: 18.4rem;
    overflow: hidden;
    filter: brightness(65%);
    display: none;
  }
  .couv #couv_ img {
    position: relative;
    height: 22rem;
    width: 100%;
  }
}
.navbar-nav li:hover ul.dropdown-menu {
  display: block;
}

/* Style pour l'effet hover sur les liens */
.navbar-nav .nav-link {
  text-decoration: none;
  position: relative;
}

.active {
  position: absolute;
  bottom: -0.16rem;
  left: 0;
  right: 0;
  height: 3px;
  width: 100%;
  border-radius: 28px;
  background-color: rgb(177, 165, 1);
}

.navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 3px;
  border-radius: 28px;
  background-color: rgb(177, 165, 1);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out;
}

.navbar-nav .nav-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/* Style pour l'effet hover sur le bouton toggle */
.navbar-toggler:hover {
  background-color: rgb(177, 165, 1);
}

/* Style pour l'effet hover sur les éléments du menu déroulant */
.navbar-nav li .dropdown-menu a:hover {
  color: #fff;
  background-color: rgb(177, 165, 1);
}

.logo {
  width: 130px;
  height: 59px;
  left: 0.4rem;
  position: relative;
  z-index: 4;
  top: 0.3rem;
}

.logoBurger {
  position: absolute;
  left: -8rem;
}

#nav {
  background-color: #ffffff;
}

#navbarNav {
  position: relative;
  left: 0;
}
#navbarNav li {
  font-size: 20.5px;
}

@media (min-width: 576px) {
  .logo {
    width: 130px;
    height: 65px;
    left: 0.4rem;
    position: relative;
    z-index: 4;
    top: 0.3rem;
  }
}
@media (min-width: 992px) {
  #navbarNav {
    float: right;
    margin-left: 20vw;
    justify-content: space-between;
    align-items: center;
  }
  #navbarNav li {
    margin-left: 23px;
  }
  .logo {
    width: 164px;
    height: 64px;
    left: 0.4rem;
    position: relative;
    z-index: 4;
    top: 0.3rem;
  }
  .navbar-collapse {
    margin-left: 50px;
  }
}
@font-face {
  font-family: "coneria_script_demoregular";
  src: url("./../../../fonts/demo_coneriascript-webfont.woff2") format("woff2"), url("./../../../fonts/demo_coneriascript-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "yeseva_oneregular";
  src: url("../../../fonts/yesevaone-regular-webfont.woff2") format("woff2"), url("../../../fonts/yesevaone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "acmeregular";
  src: url("../../../fonts/acme-regular-webfont.woff2") format("woff2"), url("../../../fonts/") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  text-decoration: none;
  list-style: none;
  color: rgb(227, 216, 201);
}

html::-webkit-scrollbar {
  background-color: white;
  width: 10px;
  scrollbar-width: thin;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(53, 44, 44, 0.555);
  height: -5px;
  width: 6px;
  border-radius: 10px;
}

@font-face {
  font-family: "coneria_script_demoregular";
  src: url("./fonts/demo_coneriascript-webfont.woff2") format("woff2"), url("./fonts/demo_coneriascript-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "unnabold";
  src: url("fonts/unna-bold-webfont.woff2") format("woff2"), url("fonts/unna-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "yeseva_oneregular";
  src: url("fonts/yesevaone-regular-webfont.woff2") format("woff2"), url("fonts/yesevaone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "font-1";
  src: url("./fonts/josefinsans-variablefont_wght-webfont.woff2") format("woff2"), url("./fonts/josefinsans-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "battoraregular";
  src: url("fonts/battora-webfont.woff2") format("woff2"), url("./fonts/battora-webfont .woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "alfa_slab_oneregular";
  src: url("./fonts/alfaslabone-regular-webfont.woff2") format("woff2"), url("fonts/alfaslabone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "paytone_oneregular";
  src: url("fonts/paytoneone-regular-webfont.woff2") format("woff2"), url("fonts/paytoneone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

b {
  color: rgb(62, 56, 56);
}

.title_adv {
  margin-left: 3%;
  font-size: calc(1.875rem + 1.5vw);
  font-family: "Acme", sans-serif;
  font-weight: bold;
}

.adv {
  position: relative;
  top: -3rem;
}
.adv .desc {
  margin-top: 1rem;
  position: relative;
  left: 0vw;
  width: 90%;
  font-size: calc(1.5rem + 1.5vw);
}

.border_ {
  width: 6.6rem;
  height: 6px;
  border-radius: 18px;
  margin-left: 0%;
  background-color: rgb(209, 118, 6);
}

@media (min-width: 576px) {
  .title_adv {
    color: rgb(209, 118, 6);
    margin-left: 3rem;
    font-family: "Acme", sans-serif;
    font-size: 38px;
  }
  .border_ {
    margin-left: 7.3%;
  }
  .adv {
    position: relative;
    top: -3rem;
  }
  .adv .desc {
    left: -3vw;
    width: 90%;
  }
}
@media (max-width: 575px) {
  .adv {
    position: relative;
    top: -2.5rem;
  }
  .adv .desc {
    position: relative;
    left: -8vw;
    width: 92%;
    font-size: calc(1.5rem + 1.5vw);
  }
  .title_adv {
    color: rgb(209, 118, 6);
    font-size: calc(1.8rem + 1.5vw);
  }
  .border_ {
    margin-left: 3.4%;
  }
}
@media (min-width: 992px) {
  .title_adv {
    margin-left: 3rem;
    font-size: calc(1.3rem + 1.5vw);
  }
  .border_ {
    margin-left: 3.7%;
  }
  .adv {
    position: relative;
    top: -3rem;
  }
  .adv .desc {
    left: 0vw;
    top: 1rem;
    width: 90%;
    font-size: calc(1.5rem + 1.5vw);
  }
}
@font-face {
  font-family: "abril_fatfaceregular";
  src: url("../../..//abrilfatface-regular-webfont.woff2") format("woff2"), url("fonts/abrilfatface-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "coneria_script_demoregular";
  src: url("./../../../fonts/demo_coneriascript-webfont.woff2") format("woff2"), url("./../../../fonts/demo_coneriascript-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "acmeregular";
  src: url("../../../fonts/acme-regular-webfont.woff2") format("woff2"), url("../../../fonts/") format("woff");
  font-weight: normal;
  font-style: normal;
}
.point {
  width: 30px;
  height: 30px;
  position: relative;
  top: 5.2rem;
  box-shadow: 5px 15px 45px rgb(209, 118, 6);
  left: 0.6rem;
  border-radius: 50%;
  background-color: rgb(209, 118, 6);
  animation: blink 2s infinite;
}

@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@keyframes shadow {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.5);
  }
  100% {
    box-shadow: none;
  }
}
.adventures_ {
  position: relative;
  top: 7vw;
}
.adventures_ h1 {
  font-family: "Acme", sans-serif;
  font-weight: 900;
  font-size: calc(1.275rem + 1.5vw);
}

#carouselExampleControls {
  width: 58%;
  height: 73vh;
  border-radius: 18px;
}
#carouselExampleControls #inner {
  height: 73vh;
  width: 100%;
  border-radius: 18px;
}
#carouselExampleControls #inner img {
  height: 73vh;
  width: 58%;
  border-radius: 18px;
}

#plan1 {
  position: relative;
  top: 9rem;
}

.borde1 {
  width: 3.4rem;
  height: 6px;
  margin-left: 48%;
  position: relative;
  top: 9.4rem;
  border-radius: 18px;
  background-color: rgb(209, 118, 6);
}

@media (min-width: 576px) {
  #carouselExampleControls {
    width: 82%;
    height: 40vh;
    border-radius: 18px;
    margin-left: 9.7%;
  }
  #carouselExampleControls #inner {
    height: 40vh;
    width: 100%;
    border-radius: 18px;
  }
  #carouselExampleControls #inner img {
    height: 40vh;
    width: 58%;
    border-radius: 18px;
  }
  #plan1 {
    position: relative;
    top: 4.6rem;
  }
  .borde1 {
    position: relative;
    top: 5.2rem;
    width: 2rem;
  }
  #point {
    position: relative;
    margin-left: -23rem;
    top: 5.5rem;
  }
  .adventures_ {
    position: relative;
    top: 2.6rem;
  }
  h3 {
    color: #7851a9;
    position: absolute;
    top: 2.5rem;
    left: 35%;
    font-weight: bold;
  }
  h3 i {
    color: #7851a9;
  }
  #classic_h1 {
    font-family: "Acme", sans-serif;
    font-weight: 900;
    font-size: 40px;
    position: relative;
    color: #36454f;
  }
  .adventures_ .row {
    margin-left: 6%;
    margin-top: 5rem;
  }
  .adventures_ .row div {
    width: 91%;
  }
  .adventures_ .row div div {
    background-color: rgba(165, 165, 165, 0.3294117647);
    padding: 0;
  }
  .adventures_ .row div div h2 {
    color: rgb(51, 44, 48);
    font-family: "Signika", sans-serif;
    font-weight: bold;
    font-size: calc(0.78rem + 1.7vw);
  }
  .adventures_ .row div div h2 i {
    color: rgb(240, 136, 8);
  }
  .adventures_ .row div div p {
    font-size: calc(0.7rem + 0.95vw);
  }
  .adventures_ .row div div h4 {
    color: rgb(209, 118, 6);
    font-family: "Signika", sans-serif;
    font-weight: bold;
    font-size: calc(1rem + 1.7vw);
  }
  .adventures_ .row div div h4 i {
    color: rgb(209, 118, 6);
  }
}
@media (min-width: 992px) {
  .point {
    top: 5.2rem;
    left: 0.3rem;
  }
  #point {
    position: relative;
    margin-left: 0%;
    top: 5.5rem;
  }
  #carouselExampleControls {
    width: 58%;
    height: 73vh;
    border-radius: 18px;
    margin-left: 20.7%;
  }
  #carouselExampleControls #inner {
    height: 73vh;
    width: 100%;
    border-radius: 18px;
  }
  #carouselExampleControls #inner img {
    height: 73vh;
    width: 58%;
    border-radius: 18px;
  }
  .point {
    position: relative;
    left: 1.2rem;
    top: 5.5rem;
  }
  .adventures_ {
    position: relative;
    top: 2.6rem;
  }
  .adventures_ h3 {
    color: #7851a9;
    position: absolute;
    top: 2.5rem;
    left: 6rem;
    font-weight: 800;
  }
  .adventures_ h3 i {
    color: #7851a9;
  }
  .adventures_ #classic_h1 {
    font-family: "Acme", sans-serif;
    font-weight: 900;
    font-size: 47px;
    position: relative;
    left: 1.9rem;
    color: #36454f;
  }
  .adventures_ .row {
    margin-left: 20.5%;
    margin-top: 5rem;
  }
  .adventures_ .row div {
    width: 72%;
  }
  .adventures_ .row div div {
    background-color: rgba(165, 165, 165, 0.3294117647);
    padding: 0;
  }
  .adventures_ .row div div h2 {
    color: rgb(51, 44, 48);
    font-family: "Signika", sans-serif;
    font-weight: bold;
    font-size: calc(0.38rem + 1.7vw);
  }
  .adventures_ .row div div h2 i {
    color: rgb(240, 136, 8);
  }
  .adventures_ .row div div h4 {
    color: rgb(209, 118, 6);
    font-family: "Signika", sans-serif;
    font-weight: bold;
    font-size: calc(0.6rem + 1.7vw);
  }
  .adventures_ .row div div h4 i {
    color: rgb(209, 118, 6);
  }
  .adventures_ .row div div p {
    font-size: calc(0.5rem + 0.95vw);
  }
}
@media (max-width: 575px) {
  .point {
    position: relative;
    margin-left: 0rem;
    top: 5rem;
  }
  #carouselExampleControls {
    width: 95%;
    height: 50vh;
    border-radius: 18px;
    text-align: center;
    margin-left: 2.4vw;
  }
  #carouselExampleControls #inner {
    height: 50vh;
    width: 100%;
    border-radius: 18px;
  }
  #carouselExampleControls #inner img {
    height: 50vh;
    width: 58%;
    border-radius: 18px;
  }
  #plan1 {
    position: relative;
    top: 9rem;
    font-size: calc(1.7rem + 1.5vw);
  }
  .borde1 {
    width: 2.5rem;
    height: 5.5px;
    margin-left: 44%;
    text-align: center;
    position: relative;
    top: 9.4rem;
  }
  .adventures_ {
    position: relative;
    top: -7vw;
  }
  .adventures_ h3 {
    color: #7851a9;
    position: relative;
    top: 3.7rem;
    font-weight: 800;
  }
  .adventures_ h3 i {
    color: #7851a9;
  }
  .adventures_ #classic_h1 {
    font-family: "Acme", sans-serif;
    font-weight: 900;
    font-size: calc(1.7rem + 1.5vw);
    color: #36454f;
  }
  .adventures_ .row {
    position: relative;
    left: 0%;
    top: 12.4rem;
  }
  .adventures_ .row div div {
    background-color: rgba(165, 165, 165, 0.3294117647);
  }
  .adventures_ .row div div h2 {
    color: rgb(51, 44, 48);
    font-family: "Signika", sans-serif;
    font-weight: bold;
    font-size: calc(1.19rem + 1.7vw);
  }
  .adventures_ .row div div h2 i {
    color: rgb(209, 118, 6);
  }
  .adventures_ .row div div h4 {
    color: rgb(209, 118, 6);
    font-family: "Signika", sans-serif;
    font-weight: bold;
    font-size: calc(1.5rem + 1.7vw);
  }
  .adventures_ .row div div h4 i {
    color: rgb(209, 118, 6);
  }
  .adventures_ .row div div p {
    font-size: calc(0.95rem + 0.95vw);
  }
}
* {
  font-family: "Lato", sans-serif;
  color: rgb(52, 64, 71);
}

@font-face {
  font-family: "acmeregular";
  src: url("../../../fonts/acme-regular-webfont.woff2") format("woff2"), url("../../../fonts/") format("woff");
  font-weight: normal;
  font-style: normal;
}
.up i {
  font-size: 31px;
  color: #fff;
  padding: 7px;
  border-radius: 8px;
  cursor: pointer;
  background-color: rgb(209, 118, 6);
  position: fixed;
  bottom: 5vh;
  right: 20px;
  z-index: 30;
}
.up i:hover {
  background-color: rgb(27, 26, 25);
}

/*# sourceMappingURL=adventures.css.map */
