@import "../../settings.scss";
@import "./components/navbar.scss";
@import "./components/couverture.scss";
@import "./components/north_.scss";
@import "./components/north_desc.scss";

@import "./components/nord_nosy.scss";
@import "./components/NosyBe.scss";
 @import "./components/map.scss";
  @import "./components/comments.scss";
// @import "./components/responsive.scss/small.scss";
// @import "./components/responsive.scss/medium.scss";
// @import"./components/texte.scss";

*{
    font-family: 'Lato', sans-serif;
    color: rgb(52, 64, 71);
}

@font-face {
  font-family: 'acmeregular';
  src: url('../../../fonts/acme-regular-webfont.woff2') format('woff2'),
    url('../../../fonts/') format('woff');
  font-weight: normal;
  font-style: normal;

}

.up{
      
  i{
     font-size: 28px;
     color: #fff;
     padding: 7px;
     border-radius: 8px;
     cursor: pointer;
     background-color: rgb(209, 118, 6);
     position: fixed;
     z-index: 30;
     top: 75vh;
     right: 2%;

      &:hover{
        background-color: rgb(27, 26, 25);
      }
  }
}

@media screen and (min-width: 992px) {
  .up{
      
    i{
       position: fixed;
       z-index: 30;
       top: 88vh;

        &:hover{
          background-color: rgb(27, 26, 25);
        }
    }
  }
  
}

@media screen and (max-width: 575px) {
  .up{
      
    i{
       position: fixed;
       top: 82vh;
       right: 2%;
  
        &:hover{
          background-color: rgb(27, 26, 25);
        }
    }
  }
  
}

@media screen and (min-width: 576px) and (max-width: 991px) {
  .up{
      
    i{
       position: fixed;
       top: 92vh;
       right: 2%;
  
        &:hover{
          background-color: rgb(27, 26, 25);
        }
    }
  }
}






