* {
  text-decoration: none;
  list-style: none;
  color: rgb(227, 216, 201);
}

html::-webkit-scrollbar {
  background-color: white;
  width: 10px;
  scrollbar-width: thin;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(53, 44, 44, 0.555);
  height: 6px;
  width: 6px;
  border-radius: 10px;
}

@font-face {
  font-family: "coneria_script_demoregular";
  src: url("./fonts/demo_coneriascript-webfont.woff2") format("woff2"), url("./fonts/demo_coneriascript-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "abril_fatfaceregular";
  src: url("fonts/abrilfatface-regular-webfont.woff2") format("woff2"), url("fonts/abrilfatface-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "unnabold";
  src: url("fonts/unna-bold-webfont.woff2") format("woff2"), url("fonts/unna-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "yeseva_oneregular";
  src: url("fonts/yesevaone-regular-webfont.woff2") format("woff2"), url("fonts/yesevaone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "battoraregular";
  src: url("fonts/battora-webfont.woff2") format("woff2"), url("./fonts/battora-webfont .woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "alfa_slab_oneregular";
  src: url("./fonts/alfaslabone-regular-webfont.woff2") format("woff2"), url("fonts/alfaslabone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "paytone_oneregular";
  src: url("fonts/paytoneone-regular-webfont.woff2") format("woff2"), url("fonts/paytoneone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
  background-color: white;
  height: 1cm;
  width: 10%;
  position: fixed;
  z-index: 4;
}

.header {
  background-color: white;
  height: 2.1cm;
  width: 100%;
  position: fixed;
  z-index: 4;
  top: 0;
}

.logo {
  width: 169px;
  height: 65px;
  left: 2rem;
  position: fixed;
  z-index: 4;
  top: 1rem;
}

.logoBurger {
  position: absolute;
  left: -8rem;
}

header ul {
  position: relative;
  top: -2.5rem;
  right: 4rem;
  display: flex;
  list-style-type: none;
  height: 1cm;
  padding-top: 5rem;
  padding-bottom: 14rem;
  overflow: hidden;
  float: right;
}

li a {
  margin: 6px;
  font-size: 19px;
  padding: 17px;
  color: rgb(64, 56, 56);
}

li a.active {
  color: white;
  background-color: #04AA6D;
  border: opx solid;
  border-width: 20px;
  border-radius: 8px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #d6d61e;
  border-radius: 8px;
  text-decoration: none;
  color: rgb(64, 56, 56);
}

.versionAng {
  margin-left: 11rem;
  font-size: 19px;
  color: rgb(64, 56, 56);
}

.imgAng {
  position: relative;
  left: 0rem;
  top: 0rem;
  width: 30px;
  border-radius: 40%;
  height: 30px;
}

.fenetreFrancais {
  position: relative;
  display: none;
  float: right;
  left: 94rem;
  top: 8.3rem;
  width: 5cm;
  height: 2cm;
  background-color: #04AA6D;
  z-index: 4;
  transform: translateY(-4.5cm);
  transition: 0;
}

.imgAng1 {
  width: 35px;
  height: 35px;
  position: relative;
  left: 1rem;
  border-radius: 40%;
  cursor: pointer;
}

.fenetreFrancais p {
  position: absolute;
  left: 7rem;
  top: 2rem;
  font-size: 20px;
  cursor: pointer;
}

.couvertureNord img {
  position: absolute;
  top: 19rem;
  left: 2vw;
  width: 60vw;
  height: 52rem;
  border-radius: 6px;
}

.couvertureNord-responsive img {
  display: none;
  position: absolute;
  top: 0rem;
  width: 100%;
  height: 100vh;
}

@media screen and (min-width: 1024px) {
  .north_day {
    position: absolute;
    top: 140rem;
    left: 0rem;
  }
  .north_day .titre_north {
    font-size: 36px;
    position: absolute;
    left: 10vw;
    font-weight: 700;
    color: rgb(0, 0, 0);
    top: -14.5rem;
    width: 60vw;
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .north_day .anim_1 {
    width: 37px;
    height: 37px;
    position: absolute;
    top: -12.5rem;
    left: 5vw;
    border-radius: 4px;
    background-color: rgb(222, 167, 1);
    border-radius: 0;
    animation: rotate 5s linear infinite;
  }
  @keyframes rotate {
    0% {
      transform: rotate(155deg);
    }
    20% {
      transform: rotate(205deg);
    }
    40% {
      transform: rotate(255deg);
    }
    60% {
      transform: rotate(305deg);
    }
    80% {
      transform: rotate(355deg);
    }
    100% {
      transform: rotate(405deg);
    }
  }
  .north_day .day1 {
    width: 60vw;
    height: 17rem;
    position: absolute;
    top: 0rem;
    left: 6vw;
    border-radius: 4px;
    background-color: rgba(102, 98, 98, 0.122);
  }
  .north_day .day1 h1 {
    font-size: 27px;
    position: absolute;
    left: 6rem;
    font-weight: 550;
    color: rgb(35, 34, 34);
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .north_day .day1 p {
    font-size: 18.5px;
    position: absolute;
    left: 4rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .north_day .day1 img {
    width: 45.5px;
    height: 45.5px;
    position: absolute;
    top: 1.5rem;
  }
  .north_day .day2 {
    width: 60vw;
    height: 13rem;
    position: absolute;
    top: 26rem;
    left: 6vw;
    border-radius: 4px;
    background-color: rgba(102, 98, 98, 0.122);
  }
  .north_day .day2 h1 {
    font-size: 27px;
    position: absolute;
    left: 6rem;
    font-weight: 550;
    color: rgb(35, 34, 34);
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .north_day .day2 img {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 1.5rem;
  }
  .north_day .day3 {
    width: 60vw;
    height: 20rem;
    position: absolute;
    top: 48rem;
    left: 6vw;
    border-radius: 4px;
    background-color: rgba(102, 98, 98, 0.122);
  }
  .north_day .day3 h1 {
    font-size: 27px;
    position: absolute;
    left: 6rem;
    font-weight: 550;
    color: rgb(35, 34, 34);
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .north_day .day3 p {
    font-size: 18.5px;
    position: absolute;
    left: 4rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .north_day .day3 img {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 1.5rem;
  }
  .north_day .day4 {
    width: 60vw;
    height: 17.6rem;
    position: absolute;
    top: 77.8rem;
    left: 6vw;
    border-radius: 4px;
    background-color: rgba(102, 98, 98, 0.122);
  }
  .north_day .day4 h1 {
    font-size: 25px;
    position: absolute;
    left: 6rem;
    font-weight: 550;
    color: rgb(35, 34, 34);
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .north_day .day4 p {
    font-size: 18.5px;
    position: absolute;
    left: 4rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .north_day .day4 img {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 1.5rem;
  }
  .north_day .day5 {
    width: 60vw;
    height: 19.6rem;
    position: absolute;
    top: 105.2rem;
    left: 6vw;
    border-radius: 4px;
    background-color: rgba(102, 98, 98, 0.122);
  }
  .north_day .day5 h1 {
    font-size: 27px;
    position: absolute;
    left: 6rem;
    font-weight: 550;
    color: rgb(35, 34, 34);
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .north_day .day5 p {
    font-size: 18.5px;
    position: absolute;
    left: 4rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .north_day .day5 img {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 1.5rem;
  }
  .north_day .day6 {
    width: 60vw;
    height: 22.6rem;
    position: absolute;
    top: 134.8rem;
    left: 6vw;
    border-radius: 4px;
    background-color: rgba(102, 98, 98, 0.122);
  }
  .north_day .day6 h1 {
    font-size: 27px;
    position: absolute;
    left: 6rem;
    font-weight: 550;
    color: rgb(35, 34, 34);
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .north_day .day6 p {
    font-size: 18.5px;
    position: absolute;
    left: 4rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .north_day .day6 img {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 1.5rem;
  }
  .north_day .day7 {
    width: 60vw;
    height: 22rem;
    position: absolute;
    top: 167.6rem;
    left: 6vw;
    border-radius: 4px;
    background-color: rgba(102, 98, 98, 0.122);
  }
  .north_day .day7 h1 {
    font-size: 27px;
    position: absolute;
    left: 6rem;
    font-weight: 550;
    color: rgb(35, 34, 34);
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .north_day .day7 p {
    font-size: 18.5px;
    position: absolute;
    left: 4rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .north_day .day7 img {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 1.5rem;
  }
  .north_day .day8 {
    width: 60vw;
    height: 20rem;
    position: absolute;
    top: 200.6rem;
    left: 6vw;
    border-radius: 4px;
    background-color: rgba(102, 98, 98, 0.122);
  }
  .north_day .day8 h1 {
    font-size: 27px;
    position: absolute;
    left: 6rem;
    font-weight: 550;
    color: rgb(35, 34, 34);
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .north_day .day8 p {
    font-size: 18.5px;
    position: absolute;
    left: 4rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .north_day .day8 img {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 1.5rem;
  }
  .north_day .day9 {
    width: 60vw;
    height: 25.2rem;
    position: absolute;
    top: 230.6rem;
    left: 6vw;
    border-radius: 4px;
    background-color: rgba(102, 98, 98, 0.122);
  }
  .north_day .day9 h1 {
    font-size: 24px;
    position: absolute;
    left: 6rem;
    font-weight: 550;
    color: rgb(35, 34, 34);
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .north_day .day9 p {
    font-size: 18.5px;
    position: absolute;
    left: 4rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .north_day .day9 img {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 1.5rem;
  }
  .north_day .day10 {
    width: 60vw;
    height: 20rem;
    position: absolute;
    top: 265.6rem;
    left: 6vw;
    border-radius: 4px;
    background-color: rgba(102, 98, 98, 0.122);
  }
  .north_day .day10 h1 {
    font-size: 27px;
    position: absolute;
    left: 6rem;
    font-weight: 550;
    color: rgb(35, 34, 34);
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .north_day .day10 p {
    font-size: 18.5px;
    position: absolute;
    left: 4rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .north_day .day10 img {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 1.5rem;
  }
  .north_day .day11 {
    width: 60vw;
    height: 27.6rem;
    position: absolute;
    top: 295.6rem;
    left: 6vw;
    border-radius: 4px;
    background-color: rgba(102, 98, 98, 0.122);
  }
  .north_day .day11 h1 {
    font-size: 27px;
    position: absolute;
    left: 6rem;
    font-weight: 550;
    color: rgb(35, 34, 34);
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .north_day .day11 p {
    font-size: 18.5px;
    position: absolute;
    left: 4rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .north_day .day11 img {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 1.5rem;
  }
  .north_day .day12 {
    width: 60vw;
    height: 20rem;
    position: absolute;
    top: 333.9rem;
    left: 6vw;
    border-radius: 4px;
    background-color: rgba(102, 98, 98, 0.122);
  }
  .north_day .day12 h1 {
    font-size: 25px;
    position: absolute;
    left: 6rem;
    font-weight: 550;
    color: rgb(35, 34, 34);
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .north_day .day12 p {
    font-size: 18.5px;
    position: absolute;
    left: 4rem;
    top: 9.5rem;
    color: rgb(45, 45, 45);
  }
  .north_day .day12 img {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 1.5rem;
  }
  .north_day .day13 {
    width: 60vw;
    height: 16rem;
    position: absolute;
    top: 364.4rem;
    left: 6vw;
    border-radius: 4px;
    background-color: rgba(102, 98, 98, 0.122);
  }
  .north_day .day13 h1 {
    font-size: 27px;
    position: absolute;
    left: 6rem;
    font-weight: 550;
    color: rgb(35, 34, 34);
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .north_day .day13 p {
    font-size: 18.5px;
    position: absolute;
    left: 4rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .north_day .day13 img {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 1.5rem;
  }
  .north_day .day14 {
    width: 60vw;
    height: 16.6rem;
    position: absolute;
    top: 391.6rem;
    left: 6vw;
    border-radius: 4px;
    background-color: rgba(102, 98, 98, 0.122);
  }
  .north_day .day14 h1 {
    font-size: 27px;
    position: absolute;
    left: 6rem;
    font-weight: 550;
    color: rgb(35, 34, 34);
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .north_day .day14 p {
    font-size: 18.5px;
    position: absolute;
    left: 4rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .north_day .day14 img {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 1.5rem;
  }
  .north_day .border_vertical1 {
    width: 5.4px;
    height: 200rem;
    background-color: rgb(215, 141, 3);
    position: absolute;
    top: 125rem;
    left: 65rem;
  }
}
font-face {
  font-family: "coneria_script_demoregular";
  src: url("./../../../fonts/demo_coneriascript-webfont.woff2") format("woff2"), url("./../../../fonts/demo_coneriascript-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "yeseva_oneregular";
  src: url("../../../fonts/yesevaone-regular-webfont.woff2") format("woff2"), url("../../../fonts/yesevaone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
b {
  color: rgb(62, 56, 56);
}

.title_north {
  color: rgb(0, 34, 96);
  font-size: 37px;
  position: absolute;
  top: 9.5rem;
  left: 5rem;
  font-weight: 800;
  width: 69vw;
  font-family: "yeseva_oneregular";
}

.north .desc {
  position: absolute;
  width: 55vw;
  top: 75rem;
  left: 8rem;
  font-size: 20px;
  color: rgb(93, 93, 97);
}

.detailTour h1 {
  color: rgb(212, 139, 3);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 38px;
  position: absolute;
  top: 21rem;
  left: 73vw;
  font-weight: bold;
  width: 20vw;
}
.detailTour .details {
  border-radius: 6px;
  box-shadow: -2px -2px 15px rgba(0, 0, 0, 0.645);
  background-color: rgb(223, 220, 215);
  border: 1.5px solid rgb(212, 139, 3);
  width: 32vw;
  height: 20rem;
  position: absolute;
  right: 2vw;
  top: 33rem;
}
.detailTour .details .days {
  position: absolute;
  top: -18rem;
  left: -65vw;
}
.detailTour .details .days img {
  width: 52px;
  height: 52px;
  position: absolute;
  left: 67vw;
  top: 22rem;
}
.detailTour .details .days h1 {
  font-size: 24px;
  color: rgb(67, 66, 66);
  position: absolute;
  left: 71vw;
}
.detailTour .details .localisation {
  position: absolute;
  top: 7rem;
  left: 0vw;
}
.detailTour .details .localisation img {
  width: 52px;
  height: 52px;
  position: absolute;
  left: 67vw;
  top: 22rem;
}
.detailTour .details .localisation h1 {
  font-size: 22px;
  position: absolute;
  left: 71vw;
  width: 27vw;
  color: rgb(67, 66, 66);
}

.classic_nosy-be {
  position: absolute;
  top: 587rem;
  left: 0rem;
}
.classic_nosy-be .titre_north {
  font-size: 36px;
  position: absolute;
  left: 10vw;
  font-weight: 700;
  color: rgb(0, 0, 0);
  top: -14.5rem;
  width: 60vw;
  position: absolute;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.classic_nosy-be .anim_2 {
  width: 37px;
  height: 37px;
  position: absolute;
  top: -12.5rem;
  left: 5vw;
  border-radius: 4px;
  background-color: rgb(222, 167, 1);
  border-radius: 0;
  animation: rotate 5s linear infinite;
}
@keyframes rotate2 {
  0% {
    transform: rotate(155deg);
  }
  20% {
    transform: rotate(205deg);
  }
  40% {
    transform: rotate(255deg);
  }
  60% {
    transform: rotate(305deg);
  }
  80% {
    transform: rotate(355deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
.classic_nosy-be .day1 {
  width: 60vw;
  height: 17rem;
  position: absolute;
  top: 0rem;
  left: 6vw;
  border-radius: 4px;
  background-color: rgba(102, 98, 98, 0.122);
}
.classic_nosy-be .day1 h1 {
  font-size: 27px;
  position: absolute;
  left: 6rem;
  font-weight: 550;
  color: rgb(35, 34, 34);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.classic_nosy-be .day1 p {
  font-size: 18.5px;
  position: absolute;
  left: 4rem;
  top: 7rem;
  color: rgb(45, 45, 45);
}
.classic_nosy-be .day1 img {
  width: 45.5px;
  height: 45.5px;
  position: absolute;
  top: 1.5rem;
}
.classic_nosy-be .day2 {
  width: 60vw;
  height: 13rem;
  position: absolute;
  top: 26rem;
  left: 6vw;
  border-radius: 4px;
  background-color: rgba(102, 98, 98, 0.122);
}
.classic_nosy-be .day2 h1 {
  font-size: 27px;
  position: absolute;
  left: 6rem;
  font-weight: 550;
  color: rgb(35, 34, 34);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.classic_nosy-be .day2 img {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 1.5rem;
}
.classic_nosy-be .day3 {
  width: 60vw;
  height: 21.7rem;
  position: absolute;
  top: 48rem;
  left: 6vw;
  border-radius: 4px;
  background-color: rgba(102, 98, 98, 0.122);
}
.classic_nosy-be .day3 h1 {
  font-size: 27px;
  position: absolute;
  left: 6rem;
  font-weight: 550;
  color: rgb(35, 34, 34);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.classic_nosy-be .day3 p {
  font-size: 18.5px;
  position: absolute;
  left: 4rem;
  top: 7rem;
  color: rgb(45, 45, 45);
}
.classic_nosy-be .day3 img {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 1.5rem;
}
.classic_nosy-be .day4 {
  width: 60vw;
  height: 17.6rem;
  position: absolute;
  top: 79.2rem;
  left: 6vw;
  border-radius: 4px;
  background-color: rgba(102, 98, 98, 0.122);
}
.classic_nosy-be .day4 h1 {
  font-size: 25px;
  position: absolute;
  left: 6rem;
  font-weight: 550;
  color: rgb(35, 34, 34);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.classic_nosy-be .day4 p {
  font-size: 18.5px;
  position: absolute;
  left: 4rem;
  top: 7rem;
  color: rgb(45, 45, 45);
}
.classic_nosy-be .day4 img {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 1.5rem;
}
.classic_nosy-be .day5 {
  width: 60vw;
  height: 19.6rem;
  position: absolute;
  top: 107.2rem;
  left: 6vw;
  border-radius: 4px;
  background-color: rgba(102, 98, 98, 0.122);
}
.classic_nosy-be .day5 h1 {
  font-size: 27px;
  position: absolute;
  left: 6rem;
  font-weight: 550;
  color: rgb(35, 34, 34);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.classic_nosy-be .day5 p {
  font-size: 18.5px;
  position: absolute;
  left: 4rem;
  top: 7rem;
  color: rgb(45, 45, 45);
}
.classic_nosy-be .day5 img {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 1.5rem;
}
.classic_nosy-be .day6 {
  width: 60vw;
  height: 24.9rem;
  position: absolute;
  top: 134.8rem;
  left: 6vw;
  border-radius: 4px;
  background-color: rgba(102, 98, 98, 0.122);
}
.classic_nosy-be .day6 h1 {
  font-size: 27px;
  position: absolute;
  left: 6rem;
  font-weight: 550;
  color: rgb(35, 34, 34);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.classic_nosy-be .day6 p {
  font-size: 18.5px;
  position: absolute;
  left: 4rem;
  top: 7rem;
  color: rgb(45, 45, 45);
}
.classic_nosy-be .day6 img {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 1.5rem;
}
.classic_nosy-be .day7 {
  width: 60vw;
  height: 22rem;
  position: absolute;
  top: 170.4rem;
  left: 6vw;
  border-radius: 4px;
  background-color: rgba(102, 98, 98, 0.122);
}
.classic_nosy-be .day7 h1 {
  font-size: 27px;
  position: absolute;
  left: 6rem;
  font-weight: 550;
  color: rgb(35, 34, 34);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.classic_nosy-be .day7 p {
  font-size: 18.5px;
  position: absolute;
  left: 4rem;
  top: 7rem;
  color: rgb(45, 45, 45);
}
.classic_nosy-be .day7 img {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 1.5rem;
}
.classic_nosy-be .day8 {
  width: 60vw;
  height: 20rem;
  position: absolute;
  top: 203.4rem;
  left: 6vw;
  border-radius: 4px;
  background-color: rgba(102, 98, 98, 0.122);
}
.classic_nosy-be .day8 h1 {
  font-size: 27px;
  position: absolute;
  left: 6rem;
  font-weight: 550;
  color: rgb(35, 34, 34);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.classic_nosy-be .day8 p {
  font-size: 18.5px;
  position: absolute;
  left: 4rem;
  top: 7rem;
  color: rgb(45, 45, 45);
}
.classic_nosy-be .day8 img {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 1.5rem;
}
.classic_nosy-be .day9 {
  width: 60vw;
  height: 20.2rem;
  position: absolute;
  top: 230.6rem;
  left: 6vw;
  border-radius: 4px;
  background-color: rgba(102, 98, 98, 0.122);
}
.classic_nosy-be .day9 h1 {
  font-size: 24px;
  position: absolute;
  left: 6rem;
  font-weight: 550;
  color: rgb(35, 34, 34);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.classic_nosy-be .day9 p {
  font-size: 18.5px;
  position: absolute;
  left: 4rem;
  top: 7rem;
  color: rgb(45, 45, 45);
}
.classic_nosy-be .day9 img {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 1.5rem;
}

.NosyBe {
  position: absolute;
  top: 291rem;
}
.NosyBe .anim_3 {
  width: 37px;
  height: 37px;
  position: absolute;
  top: -12.5rem;
  left: 5vw;
  border-radius: 4px;
  background-color: rgb(222, 167, 1);
  border-radius: 0;
  animation: rotate 5s linear infinite;
}
@keyframes rotate2 {
  0% {
    transform: rotate(155deg);
  }
  20% {
    transform: rotate(205deg);
  }
  40% {
    transform: rotate(255deg);
  }
  60% {
    transform: rotate(305deg);
  }
  80% {
    transform: rotate(355deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
.NosyBe h1 {
  font-size: 36px;
  position: absolute;
  left: 10vw;
  font-weight: 700;
  color: rgb(0, 0, 0);
  top: -14.5rem;
  width: 60vw;
  position: absolute;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.NosyBe p {
  position: absolute;
  width: 50vw;
  top: -5rem;
  left: 8vw;
  font-size: 20px;
  color: rgb(93, 93, 97);
}

@media screen and (min-width: 1024px) {
  footer {
    position: relative;
    top: 331rem;
    background-color: rgba(0, 0, 0, 0.705);
    width: 99.3vw;
    height: 34.4rem;
  }
  .footer_contact {
    width: 45%;
    position: relative;
    top: 5rem;
    left: 40%;
  }
  .footer_contact h1 {
    font-size: 36px;
    color: #ffffff;
  }
  .mail {
    font-size: 20px;
    position: absolute;
    top: 5rem;
    left: -0.5rem;
    color: #ffffff;
  }
  .phone {
    font-size: 20px;
    position: absolute;
    top: 8rem;
    left: -0.5rem;
    color: #ffffff;
  }
  .footer_contact p:nth-last-child(3) {
    font-size: 22px;
    position: absolute;
    top: 11.1rem;
    left: -0.5rem;
    color: #ffffff;
  }
  div.icones img:nth-last-child(1) {
    position: absolute;
    top: 20rem;
    left: 0rem;
  }
  .img_fb {
    position: absolute;
    top: 0rem;
    left: 7rem;
  }
  div.icones img:nth-last-child(3) {
    position: absolute;
    top: 20rem;
    left: 14rem;
  }
  .icones {
    position: relative;
    top: -6rem;
    left: 3rem;
  }
  .border_ {
    position: absolute;
    top: 17rem;
    left: 7.2rem;
    width: 2.6cm;
    height: 4px;
    background-color: #ffffff;
  }
  .footCopright {
    position: absolute;
    top: 34.4rem;
    width: 100%;
    height: 1.6cm;
    background-color: rgba(40, 37, 37, 0.921);
    font-size: 20px;
    padding-top: 1.5rem;
    color: rgb(212, 205, 205);
  }
}
@media screen and (min-width: 1024px) {
  .border_vertical4 {
    width: 5.4px;
    height: 435rem;
    background-color: rgb(215, 141, 3);
    position: absolute;
    top: 155rem;
    left: 65rem;
  }
  .border_vertical5 {
    width: 5.4px;
    height: 280rem;
    background-color: rgb(215, 141, 3);
    position: absolute;
    top: 620rem;
    left: 65rem;
  }
}
@media screen and (max-width: 763px) and (min-width: 284px) {
  .texte {
    font-size: 26.4px;
    position: absolute;
    left: 1rem;
    top: 37rem;
  }
  header {
    position: fixed;
    width: 100%;
    height: 2cm;
    background-color: #ffffff;
  }
  header ul {
    display: block;
    z-index: 4;
    position: absolute;
    left: 20.4vw;
    align-items: center;
    justify-content: center;
    top: -2.8rem;
    padding-bottom: 12.5cm;
  }
  header ul li {
    margin: 23px;
  }
  header ul li a {
    font-size: 23px;
    padding: 6px;
  }
  .logo {
    position: fixed;
    top: 1.4rem;
    left: 2.4rem;
    width: 3cm;
    height: 1.5cm;
    z-index: 6;
  }
  .header {
    position: absolute;
    top: 7.78rem;
    transform: translateY(-150rem);
    width: 100%;
    height: 43rem;
    background-color: #1ed661;
    z-index: 200;
    transition: 0.6s;
  }
  .versionAng {
    margin: 7rem;
    position: absolute;
    top: 34rem;
    left: -1rem;
    width: 40vw;
  }
  #ang {
    cursor: pointer;
    position: absolute;
    top: 0;
  }
  .logoBurger i {
    font-size: 30px;
    position: relative;
    float: right;
    right: -102vw;
    top: 1.5rem;
    border-radius: 50%;
    padding: 7px;
    border: 1.5px solid black;
    z-index: -4;
    color: black;
  }
  .logoBurger i:hover {
    border: 0px solid #1ed661;
    background-color: #1ed640;
  }
  .hideshow {
    transform: translateY(-0.2rem);
    transition: 0.5s;
  }
  .couvertureNord img {
    display: none;
  }
  .couvertureNord-responsive img {
    display: block;
  }
  .title_north {
    font-size: 22px;
    left: 0.5rem;
    top: 62rem;
    text-align: center;
  }
  .north .desc {
    font-size: 18px;
    left: 4.2rem;
    top: 72rem;
    width: 82vw;
  }
  .north_day {
    position: absolute;
    top: 138rem;
    left: -30rem;
  }
  .north_day .titre_north {
    font-size: 26px;
    position: absolute;
    left: 90vw;
    font-weight: 800;
    color: rgb(8, 158, 63);
    top: 19.5rem;
    width: 80vw;
    position: absolute;
  }
  .north_day .day1 {
    width: 83vw;
    height: 24rem;
    position: absolute;
    top: 35rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
    text-align: center;
  }
  .north_day .day1 h1 {
    font-size: 25px;
    position: absolute;
    left: 4rem;
    font-weight: 550;
  }
  .north_day .day1 p {
    font-size: 18.5px;
    position: absolute;
    left: 1rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .north_day .day2 {
    width: 85vw;
    height: 15rem;
    position: absolute;
    top: 68rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
    text-align: center;
  }
  .north_day .day2 h1 {
    font-size: 23px;
    position: absolute;
    left: 1rem;
    font-weight: 550;
    top: 2rem;
  }
  .north_day .day3 {
    width: 85vw;
    height: 26rem;
    position: absolute;
    top: 93rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .north_day .day3 h1 {
    font-size: 23px;
    position: absolute;
    left: 1rem;
    font-weight: 550;
  }
  .north_day .day3 p {
    font-size: 18.5px;
    position: absolute;
    left: 1rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .north_day .day4 {
    width: 85vw;
    height: 23rem;
    position: absolute;
    top: 128rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .north_day .day4 h1 {
    font-size: 21px;
    position: absolute;
    left: 1.4rem;
    font-weight: 550;
  }
  .north_day .day4 p {
    font-size: 18.5px;
    position: absolute;
    left: 1rem;
    top: 10rem;
    color: rgb(45, 45, 45);
  }
  .north_day .day5 {
    width: 85vw;
    height: 20rem;
    position: absolute;
    top: 158rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .north_day .day5 h1 {
    font-size: 21px;
    position: absolute;
    left: 1.4rem;
    font-weight: 550;
  }
  .north_day .day5 p {
    font-size: 18.5px;
    position: absolute;
    left: 1rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .north_day .day6 {
    width: 85vw;
    height: 33.4rem;
    position: absolute;
    top: 188rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .north_day .day6 h1 {
    font-size: 21px;
    position: absolute;
    left: 5.4rem;
    font-weight: 550;
  }
  .north_day .day6 p {
    font-size: 18.5px;
    position: absolute;
    left: 1rem;
    top: 8.5rem;
    color: rgb(45, 45, 45);
  }
  .north_day .day7 {
    width: 85vw;
    height: 28rem;
    position: absolute;
    top: 234rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .north_day .day7 h1 {
    font-size: 21px;
    position: absolute;
    left: 1.4rem;
    font-weight: 550;
  }
  .north_day .day7 p {
    font-size: 18.5px;
    position: absolute;
    left: 1rem;
    top: 8rem;
    color: rgb(45, 45, 45);
  }
  .north_day .day9 {
    width: 85vw;
    height: 43rem;
    position: absolute;
    top: 306rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .north_day .day9 h1 {
    font-size: 21px;
    position: absolute;
    left: 1rem;
    font-weight: 550;
  }
  .north_day .day9 p {
    font-size: 18.5px;
    position: absolute;
    left: 1rem;
    top: 10rem;
    color: rgb(45, 45, 45);
  }
  .north_day .day8 {
    width: 85vw;
    height: 23rem;
    position: absolute;
    top: 272rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .north_day .day8 h1 {
    font-size: 21px;
    position: absolute;
    left: 1rem;
    font-weight: 550;
  }
  .north_day .day8 p {
    font-size: 18.5px;
    position: absolute;
    left: 1rem;
    top: 10rem;
    color: rgb(45, 45, 45);
  }
  .north_day .day10 {
    width: 85vw;
    height: 29rem;
    position: absolute;
    top: 362rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .north_day .day10 h1 {
    font-size: 21px;
    position: absolute;
    left: 1.4rem;
    font-weight: 550;
  }
  .north_day .day10 p {
    font-size: 18.5px;
    position: absolute;
    left: 1rem;
    top: 8rem;
    color: rgb(45, 45, 45);
  }
  .north_day .day11 {
    width: 85vw;
    height: 41rem;
    position: absolute;
    top: 403rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .north_day .day11 h1 {
    font-size: 21px;
    position: absolute;
    left: 1.4rem;
    font-weight: 550;
  }
  .north_day .day11 p {
    font-size: 18.5px;
    position: absolute;
    left: 1rem;
    top: 8rem;
    color: rgb(45, 45, 45);
  }
  .north_day .day12 {
    width: 85vw;
    height: 26.5rem;
    position: absolute;
    top: 456rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .north_day .day12 h1 {
    font-size: 21px;
    position: absolute;
    left: 1.4rem;
    font-weight: 550;
  }
  .north_day .day12 p {
    font-size: 18.5px;
    position: absolute;
    left: 1rem;
    top: 12rem;
    color: rgb(45, 45, 45);
  }
  .north_day .day13 {
    width: 85vw;
    height: 15.6rem;
    position: absolute;
    top: 494rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .north_day .day13 h1 {
    font-size: 21px;
    position: absolute;
    left: 1.4rem;
    font-weight: 550;
  }
  .north_day .day13 p {
    font-size: 18.5px;
    position: absolute;
    left: 1rem;
    top: 8rem;
    color: rgb(45, 45, 45);
  }
  .north_day .day14 {
    width: 85vw;
    height: 17.5rem;
    position: absolute;
    top: 520.1rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .north_day .day14 h1 {
    font-size: 21px;
    position: absolute;
    left: 1.4rem;
    font-weight: 550;
  }
  .north_day .day14 p {
    font-size: 18.5px;
    position: absolute;
    left: 1rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .classic_nosy-be {
    position: absolute;
    top: 660rem;
    left: -30rem;
  }
  .classic_nosy-be .titre_north {
    font-size: 24px;
    position: absolute;
    left: 92vw;
    font-weight: 800;
    color: rgb(8, 158, 63);
    top: 21.5rem;
    width: 80vw;
    position: absolute;
  }
  .classic_nosy-be .day1 {
    width: 85vw;
    height: 24rem;
    position: absolute;
    top: 35rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
    text-align: center;
  }
  .classic_nosy-be .day1 h1 {
    font-size: 25px;
    position: absolute;
    left: 4rem;
    font-weight: 550;
  }
  .classic_nosy-be .day1 p {
    font-size: 18.5px;
    position: absolute;
    left: 1rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .classic_nosy-be .day2 {
    width: 85vw;
    height: 15rem;
    position: absolute;
    top: 71rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
    text-align: center;
  }
  .classic_nosy-be .day2 h1 {
    font-size: 23px;
    position: absolute;
    left: 1rem;
    font-weight: 550;
    top: 2rem;
  }
  .classic_nosy-be .day3 {
    width: 85vw;
    height: 33rem;
    position: absolute;
    top: 96rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .classic_nosy-be .day3 h1 {
    font-size: 23px;
    position: absolute;
    left: 1rem;
    font-weight: 550;
  }
  .classic_nosy-be .day3 p {
    font-size: 18.5px;
    position: absolute;
    left: 1rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .classic_nosy-be .day4 {
    width: 85vw;
    height: 20rem;
    position: absolute;
    top: 138rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .classic_nosy-be .day4 h1 {
    font-size: 20px;
    position: absolute;
    left: 1.4rem;
    font-weight: 550;
  }
  .classic_nosy-be .day4 p {
    font-size: 18.5px;
    position: absolute;
    left: 1rem;
    top: 8.5rem;
    color: rgb(45, 45, 45);
  }
  .classic_nosy-be .day5 {
    width: 85vw;
    height: 23rem;
    position: absolute;
    top: 169.4rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .classic_nosy-be .day5 h1 {
    font-size: 21px;
    position: absolute;
    left: 1.4rem;
    font-weight: 550;
  }
  .classic_nosy-be .day5 p {
    font-size: 18.5px;
    position: absolute;
    left: 1rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .classic_nosy-be .day6 {
    width: 85vw;
    height: 33.4rem;
    position: absolute;
    top: 204rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .classic_nosy-be .day6 h1 {
    font-size: 21px;
    position: absolute;
    left: 1.4rem;
    font-weight: 550;
  }
  .classic_nosy-be .day6 p {
    font-size: 18.5px;
    position: absolute;
    left: 1rem;
    top: 8.5rem;
    color: rgb(45, 45, 45);
  }
  .classic_nosy-be .day8 {
    width: 85vw;
    height: 26.4rem;
    position: absolute;
    top: 289rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .classic_nosy-be .day8 h1 {
    font-size: 21px;
    position: absolute;
    left: 1.4rem;
    font-weight: 550;
  }
  .classic_nosy-be .day8 p {
    font-size: 18.5px;
    position: absolute;
    left: 1rem;
    top: 8.5rem;
    color: rgb(45, 45, 45);
  }
  .classic_nosy-be .day7 {
    width: 85vw;
    height: 28rem;
    position: absolute;
    top: 249rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .classic_nosy-be .day7 h1 {
    font-size: 21px;
    position: absolute;
    left: 1.4rem;
    font-weight: 550;
  }
  .classic_nosy-be .day7 p {
    font-size: 18.5px;
    position: absolute;
    left: 1rem;
    top: 6rem;
    color: rgb(45, 45, 45);
  }
  .classic_nosy-be .day9 {
    width: 85vw;
    height: 25rem;
    position: absolute;
    top: 326rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .classic_nosy-be .day9 h1 {
    font-size: 21px;
    position: absolute;
    left: 1rem;
    font-weight: 550;
  }
  .classic_nosy-be .day9 p {
    font-size: 18.5px;
    position: absolute;
    left: 1rem;
    top: 10rem;
    color: rgb(45, 45, 45);
  }
  .NosyBe {
    display: none;
  }
  footer {
    position: absolute;
    top: 355.5rem;
    background-color: rgba(0, 0, 0, 0.705);
    width: 100vw;
    left: 30rem;
    height: 35.9rem;
    padding-bottom: -24rem;
  }
  .footer_contact h1 {
    position: absolute;
    left: -9rem;
  }
  .footer_contact {
    width: 45%;
    position: absolute;
    top: 5rem;
    left: 45%;
  }
  .mail {
    font-size: 20px;
    position: absolute;
    top: 7rem;
    left: -13.5rem;
    color: #ffffff;
  }
  .phone {
    font-size: 19px;
    position: absolute;
    top: 10rem;
    left: -13.5rem;
    color: #ffffff;
  }
  .footer_contact p:nth-last-child(3) {
    font-size: 18px;
    position: absolute;
    top: 13.1rem;
    left: -13rem;
    color: #ffffff;
  }
  .icones {
    position: relative;
    top: 21rem;
    left: -8rem;
  }
  .border_ {
    position: absolute;
    top: 19rem;
    left: -4.8rem;
    width: 2.6cm;
    height: 4px;
    background-color: #ffffff;
  }
  .footCopright {
    position: absolute;
    top: 35.8rem;
    width: 100%;
    height: 3.6cm;
    background-color: rgba(40, 37, 37, 0.921);
    font-size: 18px;
    padding-top: 0rem;
    color: rgb(212, 205, 205);
  }
  .border_vertical4 {
    width: 5.4px;
    height: 485rem;
    background-color: rgb(215, 141, 3);
    position: absolute;
    top: 175rem;
    left: 47vw;
  }
  .border_vertical5 {
    width: 5.4px;
    height: 285rem;
    background-color: rgb(215, 141, 3);
    position: absolute;
    top: 704rem;
    left: 47vw;
  }
}
@media screen and (max-width: 1024px) and (min-width: 765px) {
  .texte {
    font-size: 32px;
    position: absolute;
    left: 4rem;
    top: 36rem;
  }
  header {
    position: fixed;
    width: 100%;
    height: 2cm;
    background-color: #ffffff;
  }
  header ul {
    display: block;
    z-index: 4;
    position: absolute;
    left: 35.4vw;
    align-items: center;
    justify-content: center;
    top: -2.8rem;
    padding-bottom: 12.5cm;
  }
  header ul li {
    margin: 23px;
  }
  header ul li a {
    font-size: 23px;
    padding: 6px;
  }
  .logo {
    position: fixed;
    top: 1.4rem;
    left: 2.4rem;
    width: 3cm;
    height: 1.5cm;
    z-index: 6;
  }
  .header {
    position: absolute;
    top: 7.78rem;
    transform: translateY(-150rem);
    width: 100%;
    height: 43rem;
    background-color: #1ed661;
    z-index: 200;
    transition: 0.6s;
  }
  .versionAng {
    margin: 7rem;
    position: absolute;
    top: 34rem;
    left: -1rem;
    width: 40vw;
  }
  #ang {
    cursor: pointer;
    position: absolute;
    top: 0;
  }
  .logoBurger i {
    font-size: 30px;
    position: relative;
    float: right;
    right: -102vw;
    top: 1.5rem;
    border-radius: 50%;
    padding: 7px;
    border: 1.5px solid black;
    z-index: -4;
    color: black;
  }
  .logoBurger i:hover {
    border: 0px solid #1ed661;
    background-color: #1ed640;
  }
  .hideshow {
    transform: translateY(-0.2rem);
    transition: 0.5s;
  }
  .couvertureNord img {
    display: block;
    height: 60rem;
  }
  .couvertureNord-responsive img {
    display: none;
    height: 40rem;
  }
  .title_north {
    font-size: 30px;
    left: 1rem;
    top: 62rem;
    text-align: center;
  }
  .north .desc {
    font-size: 18px;
    left: 4.2rem;
    top: 72rem;
    width: 82vw;
  }
  .north_day {
    position: absolute;
    top: 103rem;
    left: -30rem;
  }
  .north_day .titre_north {
    font-size: 26px;
    position: absolute;
    left: 60vw;
    font-weight: 800;
    color: rgb(8, 158, 63);
    top: 19.5rem;
    width: 80vw;
    position: absolute;
  }
  .north_day .day1 {
    width: 91vw;
    height: 17rem;
    position: absolute;
    top: 35rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
    text-align: center;
  }
  .north_day .day1 h1 {
    font-size: 25px;
    position: absolute;
    left: 4rem;
    font-weight: 550;
  }
  .north_day .day1 p {
    font-size: 19.5px;
    position: absolute;
    left: 1rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .north_day .day2 {
    width: 92vw;
    height: 15rem;
    position: absolute;
    top: 64rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
    text-align: center;
  }
  .north_day .day2 h1 {
    font-size: 23px;
    position: absolute;
    left: 13rem;
    font-weight: 550;
    top: 4rem;
  }
  .north_day .day3 {
    width: 92vw;
    height: 21rem;
    position: absolute;
    top: 92rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .north_day .day3 h1 {
    font-size: 23px;
    position: absolute;
    left: 1rem;
    font-weight: 550;
  }
  .north_day .day3 p {
    font-size: 19.5px;
    position: absolute;
    left: 1rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .north_day .day4 {
    width: 92vw;
    height: 17rem;
    position: absolute;
    top: 126rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .north_day .day4 h1 {
    font-size: 21px;
    position: absolute;
    left: 1.4rem;
    font-weight: 550;
  }
  .north_day .day4 p {
    font-size: 19.5px;
    position: absolute;
    left: 1rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .north_day .day5 {
    width: 92vw;
    height: 18rem;
    position: absolute;
    top: 157rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .north_day .day5 h1 {
    font-size: 21px;
    position: absolute;
    left: 1.4rem;
    font-weight: 550;
  }
  .north_day .day5 p {
    font-size: 19.5px;
    position: absolute;
    left: 1rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .north_day .day6 {
    width: 92vw;
    height: 20.4rem;
    position: absolute;
    top: 188rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .north_day .day6 h1 {
    font-size: 21px;
    position: absolute;
    left: 5.4rem;
    font-weight: 550;
  }
  .north_day .day6 p {
    font-size: 19.5px;
    position: absolute;
    left: 1rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .north_day .day7 {
    width: 92vw;
    height: 21rem;
    position: absolute;
    top: 222rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .north_day .day7 h1 {
    font-size: 21px;
    position: absolute;
    left: 1.4rem;
    font-weight: 550;
  }
  .north_day .day7 p {
    font-size: 19.5px;
    position: absolute;
    left: 1rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .north_day .day9 {
    width: 92vw;
    height: 23rem;
    position: absolute;
    top: 285rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .north_day .day9 h1 {
    font-size: 21px;
    position: absolute;
    left: 1rem;
    font-weight: 550;
  }
  .north_day .day9 p {
    font-size: 19.5px;
    position: absolute;
    left: 1rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .north_day .day8 {
    width: 92vw;
    height: 18rem;
    position: absolute;
    top: 255rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .north_day .day8 h1 {
    font-size: 21px;
    position: absolute;
    left: 1rem;
    font-weight: 550;
  }
  .north_day .day8 p {
    font-size: 19.5px;
    position: absolute;
    left: 1rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .north_day .day10 {
    width: 92vw;
    height: 20rem;
    position: absolute;
    top: 321rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .north_day .day10 h1 {
    font-size: 21px;
    position: absolute;
    left: 1.4rem;
    font-weight: 550;
  }
  .north_day .day10 p {
    font-size: 19.5px;
    position: absolute;
    left: 1rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .north_day .day11 {
    width: 92vw;
    height: 27rem;
    position: absolute;
    top: 355rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .north_day .day11 h1 {
    font-size: 21px;
    position: absolute;
    left: 1.4rem;
    font-weight: 550;
  }
  .north_day .day11 p {
    font-size: 19.5px;
    position: absolute;
    left: 1rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .north_day .day12 {
    width: 92vw;
    height: 19.5rem;
    position: absolute;
    top: 396rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .north_day .day12 h1 {
    font-size: 21px;
    position: absolute;
    left: 1.4rem;
    font-weight: 550;
  }
  .north_day .day12 p {
    font-size: 19.5px;
    position: absolute;
    left: 1rem;
    top: 10rem;
    color: rgb(45, 45, 45);
  }
  .north_day .day13 {
    width: 92vw;
    height: 15.6rem;
    position: absolute;
    top: 430rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .north_day .day13 h1 {
    font-size: 21px;
    position: absolute;
    left: 1.4rem;
    font-weight: 550;
  }
  .north_day .day13 p {
    font-size: 19.5px;
    position: absolute;
    left: 1rem;
    top: 8rem;
    color: rgb(45, 45, 45);
  }
  .north_day .day14 {
    width: 92vw;
    height: 17.5rem;
    position: absolute;
    top: 459.1rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .north_day .day14 h1 {
    font-size: 21px;
    position: absolute;
    left: 1.4rem;
    font-weight: 550;
  }
  .north_day .day14 p {
    font-size: 19.5px;
    position: absolute;
    left: 1rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .classic_nosy-be {
    position: absolute;
    top: 570rem;
    left: -30rem;
  }
  .classic_nosy-be .titre_north {
    font-size: 28px;
    position: absolute;
    left: 45vw;
    font-weight: 800;
    color: rgb(8, 158, 63);
    top: 21.5rem;
    width: 85vw;
    position: absolute;
  }
  .classic_nosy-be .day1 {
    width: 92vw;
    height: 18rem;
    position: absolute;
    top: 35rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
    text-align: center;
  }
  .classic_nosy-be .day1 h1 {
    font-size: 25px;
    position: absolute;
    left: 4rem;
    font-weight: 550;
  }
  .classic_nosy-be .day1 p {
    font-size: 19.5px;
    position: absolute;
    left: 1rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .classic_nosy-be .day2 {
    width: 92vw;
    height: 15rem;
    position: absolute;
    top: 66rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
    text-align: center;
  }
  .classic_nosy-be .day2 h1 {
    font-size: 23px;
    position: absolute;
    left: 18rem;
    font-weight: 550;
    top: 4rem;
  }
  .classic_nosy-be .day3 {
    width: 92vw;
    height: 22rem;
    position: absolute;
    top: 95rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .classic_nosy-be .day3 h1 {
    font-size: 23px;
    position: absolute;
    left: 1rem;
    font-weight: 550;
  }
  .classic_nosy-be .day3 p {
    font-size: 19.5px;
    position: absolute;
    left: 1rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .classic_nosy-be .day4 {
    width: 92vw;
    height: 18rem;
    position: absolute;
    top: 131rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .classic_nosy-be .day4 h1 {
    font-size: 20px;
    position: absolute;
    left: 1.4rem;
    font-weight: 550;
  }
  .classic_nosy-be .day4 p {
    font-size: 19.5px;
    position: absolute;
    left: 1rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .classic_nosy-be .day5 {
    width: 92vw;
    height: 18rem;
    position: absolute;
    top: 163.4rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .classic_nosy-be .day5 h1 {
    font-size: 21px;
    position: absolute;
    left: 1.4rem;
    font-weight: 550;
  }
  .classic_nosy-be .day5 p {
    font-size: 19.5px;
    position: absolute;
    left: 1rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .classic_nosy-be .day6 {
    width: 92vw;
    height: 25rem;
    position: absolute;
    top: 196rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .classic_nosy-be .day6 h1 {
    font-size: 21px;
    position: absolute;
    left: 1.4rem;
    font-weight: 550;
  }
  .classic_nosy-be .day6 p {
    font-size: 19.5px;
    position: absolute;
    left: 1rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .classic_nosy-be .day8 {
    width: 92vw;
    height: 20rem;
    position: absolute;
    top: 269rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .classic_nosy-be .day8 h1 {
    font-size: 21px;
    position: absolute;
    left: 1.4rem;
    font-weight: 550;
  }
  .classic_nosy-be .day8 p {
    font-size: 19.5px;
    position: absolute;
    left: 1rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .classic_nosy-be .day7 {
    width: 92vw;
    height: 18rem;
    position: absolute;
    top: 235rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .classic_nosy-be .day7 h1 {
    font-size: 21px;
    position: absolute;
    left: 1.4rem;
    font-weight: 550;
  }
  .classic_nosy-be .day7 p {
    font-size: 19.5px;
    position: absolute;
    left: 1rem;
    top: 6rem;
    color: rgb(45, 45, 45);
  }
  .classic_nosy-be .day9 {
    width: 92vw;
    height: 18rem;
    position: absolute;
    top: 305rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .classic_nosy-be .day9 h1 {
    font-size: 21px;
    position: absolute;
    left: 1rem;
    font-weight: 550;
  }
  .classic_nosy-be .day9 p {
    font-size: 18.5px;
    position: absolute;
    left: 1rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .NosyBe {
    display: none;
  }
  footer {
    position: absolute;
    top: 330.5rem;
    background-color: rgba(0, 0, 0, 0.705);
    width: 100vw;
    left: 30rem;
    height: 35.9rem;
    padding-bottom: -24rem;
  }
  .footer_contact h1 {
    position: absolute;
    left: -9rem;
  }
  .footer_contact {
    width: 45%;
    position: absolute;
    top: 5rem;
    left: 45%;
  }
  .mail {
    font-size: 20px;
    position: absolute;
    top: 7rem;
    left: -13.5rem;
    color: #ffffff;
  }
  .phone {
    font-size: 19px;
    position: absolute;
    top: 10rem;
    left: -13.5rem;
    color: #ffffff;
  }
  .footer_contact p:nth-last-child(3) {
    font-size: 18px;
    position: absolute;
    top: 13.1rem;
    left: -13rem;
    color: #ffffff;
  }
  .icones {
    position: relative;
    top: 21rem;
    left: -8rem;
  }
  .border_ {
    position: absolute;
    top: 19rem;
    left: -4.8rem;
    width: 2.6cm;
    height: 4px;
    background-color: #ffffff;
  }
  .footCopright {
    position: absolute;
    top: 35.8rem;
    width: 100%;
    height: 3.6cm;
    background-color: rgba(40, 37, 37, 0.921);
    font-size: 18px;
    padding-top: 0rem;
    color: rgb(212, 205, 205);
  }
  .border_vertical4 {
    width: 5.4px;
    height: 420rem;
    background-color: rgb(215, 141, 3);
    position: absolute;
    top: 145rem;
    left: 47vw;
  }
  .border_vertical5 {
    width: 5.4px;
    height: 275rem;
    background-color: rgb(215, 141, 3);
    position: absolute;
    top: 614rem;
    left: 47vw;
  }
}
@media screen and (min-width: 1024px) {
  .texte {
    font-size: 55px;
    position: absolute;
    top: 50rem;
    font-weight: 1600;
    font-family: Georgia, "Times New Roman", Times, serif;
    left: 15vw;
    color: #ffffff;
  }
}

/*# sourceMappingURL=north.css.map */
