@charset "UTF-8";
* {
  text-decoration: none;
  list-style: none;
  color: rgb(227, 216, 201);
}

html::-webkit-scrollbar {
  background-color: white;
  width: 10px;
  scrollbar-width: thin;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(53, 44, 44, 0.555);
  height: -5px;
  width: 6px;
  border-radius: 10px;
}

@font-face {
  font-family: "coneria_script_demoregular";
  src: url("./fonts/demo_coneriascript-webfont.woff2") format("woff2"), url("./fonts/demo_coneriascript-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "unnabold";
  src: url("fonts/unna-bold-webfont.woff2") format("woff2"), url("fonts/unna-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "yeseva_oneregular";
  src: url("fonts/yesevaone-regular-webfont.woff2") format("woff2"), url("fonts/yesevaone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "font-1";
  src: url("./fonts/josefinsans-variablefont_wght-webfont.woff2") format("woff2"), url("./fonts/josefinsans-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "battoraregular";
  src: url("fonts/battora-webfont.woff2") format("woff2"), url("./fonts/battora-webfont .woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "alfa_slab_oneregular";
  src: url("./fonts/alfaslabone-regular-webfont.woff2") format("woff2"), url("fonts/alfaslabone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "paytone_oneregular";
  src: url("fonts/paytoneone-regular-webfont.woff2") format("woff2"), url("fonts/paytoneone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.navbar-nav li:hover ul.dropdown-menu {
  display: block;
}

/* Style pour l'effet hover sur les liens */
.navbar-nav .nav-link {
  text-decoration: none;
  position: relative;
}

.active2 {
  position: absolute;
  bottom: -0.16rem;
  left: 0;
  right: 0;
  height: 3px;
  width: 100%;
  border-radius: 28px;
  background-color: rgb(177, 165, 1);
}

.navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 3px;
  border-radius: 28px;
  background-color: rgb(177, 165, 1);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out;
}

.navbar-nav .nav-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/* Style pour l'effet hover sur le bouton toggle */
.navbar-toggler:hover {
  background-color: rgb(177, 165, 1);
}

/* Style pour l'effet hover sur les éléments du menu déroulant */
.navbar-nav li .dropdown-menu a:hover {
  color: #fff;
  background-color: rgb(177, 165, 1);
}

.logo {
  width: 130px;
  height: 59px;
  left: 0.4rem;
  position: relative;
  z-index: 4;
  top: 0.3rem;
}

.logoBurger {
  position: absolute;
  left: -8rem;
}

#nav {
  background-color: #ffffff;
}

#navbarNav {
  position: relative;
  left: 0;
}
#navbarNav li {
  font-size: 20.5px;
}

@media (min-width: 576px) {
  .logo {
    width: 130px;
    height: 65px;
    left: 0.4rem;
    position: relative;
    z-index: 4;
    top: 0.3rem;
  }
}
@media (min-width: 992px) {
  #navbarNav {
    float: right;
    margin-left: 20vw;
    justify-content: space-between;
    align-items: center;
  }
  #navbarNav li {
    margin-left: 23px;
  }
  .logo {
    width: 164px;
    height: 64px;
    left: 0.4rem;
    position: relative;
    z-index: 4;
    top: 0.3rem;
  }
  .navbar-collapse {
    margin-left: 50px;
  }
}
#carousel {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0rem;
}
#carousel #inner {
  width: 100%;
  height: 100vh;
}
#carousel #inner h1 {
  font-family: "Acme", sans-serif;
  font-weight: 900;
  font-size: calc(2.5rem + 1.5vw);
  position: relative;
  color: #fff;
  top: -5rem;
}
#carousel #inner button {
  padding: 9px;
  font-size: 22px;
  position: relative;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  top: -3.6rem;
  left: -37%;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  background-color: rgb(177, 165, 1);
}
#carousel #inner button i {
  color: #fff;
}
#carousel #inner img {
  width: 100%;
  height: 100vh;
  filter: brightness(57%);
}
#carousel .carousel-indicators {
  list-style: none;
  padding: 0;
  margin: 0;
}
#carousel .carousel-indicator::before {
  content: "\f105";
  font-family: "Font Awesome";
  font-size: 16px;
  color: #000;
}
#carousel .carousel-indicator.active::before {
  color: #f00;
}
#carousel .icon {
  font-size: 55px;
  color: rgb(177, 165, 1);
}
#carousel .icon:hover {
  color: rgb(58, 58, 52);
}
#carousel #next {
  margin-top: 6.8rem;
}
#carousel #prev {
  margin-top: 7rem;
}

#carousel_responsive {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0rem;
}
#carousel_responsive #inner1 {
  width: 100%;
  height: 100vh;
}
#carousel_responsive #inner1 h1 {
  font-family: "Acme", sans-serif;
  font-weight: 900;
  font-size: calc(2.5rem + 1.5vw);
  position: relative;
  color: #fff;
  top: -5rem;
}
#carousel_responsive #inner1 button {
  padding: 9px;
  font-size: 22px;
  position: relative;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  top: -3.6rem;
  left: -37%;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  background-color: rgb(177, 165, 1);
}
#carousel_responsive #inner1 button i {
  color: #fff;
}
#carousel_responsive #inner1 img {
  width: 100%;
  height: 100vh;
  filter: brightness(57%);
}
#carousel_responsive .carousel-indicators {
  list-style: none;
  padding: 0;
  margin: 0;
}
#carousel_responsive .carousel-indicator::before {
  content: "\f105";
  font-family: "Font Awesome";
  font-size: 16px;
  color: #000;
}
#carousel_responsive .carousel-indicator.active::before {
  color: #f00;
}
#carousel_responsive .icon {
  font-size: 55px;
  color: rgb(177, 165, 1);
}
#carousel_responsive .icon:hover {
  color: rgb(58, 58, 52);
}
#carousel_responsive #next {
  margin-top: 6.8rem;
}
#carousel_responsive #prev {
  margin-top: 7rem;
}

#carousel_responsive {
  display: none;
}

@media screen and (max-width: 575px) {
  #carousel {
    width: 100%;
    height: 50vh;
    position: relative;
    top: 3rem;
    display: none;
  }
  #carousel #inner {
    width: 100%;
    height: 50vh;
  }
  #carousel #inner h1 {
    font-family: "Acme", sans-serif;
    font-weight: 900;
    font-size: calc(1rem + 1.5vw);
    position: relative;
    top: 0.5rem;
    display: block;
  }
  #carousel #inner button {
    font-size: 15px;
    position: relative;
    top: 1.2rem;
    left: 0%;
    display: block;
  }
  #carousel #inner img {
    width: 100%;
    height: 50vh;
    filter: brightness(70%);
  }
  #carousel .icon {
    font-size: 42px;
  }
  #carousel #next {
    margin-top: 1.5rem;
    margin-right: 2%;
  }
  #carousel #prev {
    margin-top: 2rem;
    margin-left: 2%;
  }
  #carousel_responsive {
    width: 100%;
    height: 58vh;
    display: block;
    position: relative;
    top: 3rem;
  }
  #carousel_responsive #inner1 {
    width: 100%;
    height: 54vh;
  }
  #carousel_responsive #inner1 h1 {
    font-family: "Acme", sans-serif;
    font-weight: 900;
    font-size: calc(1.5rem + 1.5vw);
    position: relative;
    top: 0.5rem;
    display: block;
  }
  #carousel_responsive #inner1 button {
    font-size: 17px;
    position: relative;
    top: 1.2rem;
    left: 0%;
    display: block;
  }
  #carousel_responsive #inner1 img {
    width: 100%;
    height: 54vh;
    filter: brightness(75%);
  }
  #carousel_responsive .icon {
    font-size: 42px;
  }
  #carousel_responsive #next {
    margin-top: 1.5rem;
    margin-right: 2%;
  }
  #carousel_responsive #prev {
    margin-top: 2rem;
    margin-left: 2%;
  }
}
@media screen and (min-width: 576px) and (max-width: 991px) {
  #carousel {
    width: 100%;
    height: 28rem;
    position: relative;
    top: 3rem;
  }
  #carousel #inner {
    width: 100%;
    height: 28rem;
  }
  #carousel #inner h1 {
    font-family: "Acme", sans-serif;
    font-weight: 900;
    font-size: calc(1.6rem + 1.5vw);
    position: relative;
    top: -2rem;
    display: block;
  }
  #carousel #inner button {
    font-size: 17px;
    position: relative;
    top: -1.2rem;
    left: 0%;
    display: block;
  }
  #carousel #inner img {
    width: 100%;
    height: 28rem;
    filter: brightness(57%);
  }
  #carousel .icon {
    font-size: 42px;
  }
  #carousel #next {
    margin-top: 1.5rem;
    margin-right: 2%;
  }
  #carousel #prev {
    margin-top: 2rem;
    margin-left: 2%;
  }
}
.about {
  position: relative;
  top: 3rem;
}
.about .container #col1 h1 {
  color: rgb(209, 118, 6);
  font-weight: bolder;
  font-family: "Signika", sans-serif;
}
.about .container #col1 .border {
  width: 6.6rem;
  height: 7px;
  border-radius: 18px;
  margin-left: 0.3rem;
  background-color: rgb(209, 118, 6);
}
.about .container #col2 img {
  border-radius: 10px;
}

@media screen and (min-width: 992px) {
  .about {
    position: relative;
    top: 3rem;
  }
  .about .container #col1 h1 {
    color: rgb(209, 118, 6);
    font-size: calc(2.2rem + 1.5vw);
    font-weight: bolder;
    font-family: "Signika", sans-serif;
  }
  .about .container #col1 .border {
    width: 6.6rem;
    height: 8px;
    border-radius: 18px;
    margin-left: 0.3rem;
    background-color: rgb(209, 118, 6);
  }
  .about .container #col1 p {
    margin-top: 2rem;
    font-size: calc(0.57rem + 1vw);
  }
  .about .container #col2 img {
    border-radius: 10px;
    position: relative;
    top: 5rem;
    height: 27rem;
    width: 110%;
  }
}
@media screen and (min-width: 576px) and (max-width: 991px) {
  .about {
    position: relative;
    top: 5rem;
  }
  .about .container #col1 h1 {
    color: rgb(209, 118, 6);
    font-size: calc(1.9rem + 1.5vw);
    font-weight: bolder;
    font-family: "Signika", sans-serif;
  }
  .about .container #col1 .border {
    width: 6.6rem;
    height: 7px;
    border-radius: 18px;
    margin-left: 0.3rem;
    background-color: rgb(209, 118, 6);
  }
  .about .container #col1 p {
    margin-top: 2rem;
    font-size: calc(0.75rem + 1vw);
  }
  .about .container #col2 img {
    border-radius: 10px;
    width: 105%;
    height: 25rem;
    margin-top: -1.3rem;
    margin-left: 23%;
    text-align: center;
  }
}
@media screen and (max-width: 575px) {
  .about {
    position: relative;
    top: 4rem;
  }
  .about #col1 h1 {
    font-size: calc(2.3rem + 1.5vw);
  }
  .about #col1 .border {
    height: 5px;
  }
  .about #col1 p {
    font-size: calc(0.9rem + 1vw);
    margin-top: 1rem;
  }
  #col2 img {
    border-radius: 10px;
    width: 100%;
    height: 20rem;
  }
}
.us {
  position: relative;
  top: 7rem;
}
.us .container h1 {
  color: rgb(209, 118, 6);
  font-size: calc(2.2rem + 1.5vw);
  font-weight: bolder;
  font-family: "Signika", sans-serif;
}
.us .container .border1 {
  width: 6.6rem;
  height: 5px;
  border-radius: 18px;
  margin-left: 0.3rem;
  background-color: rgb(209, 118, 6);
}
.us .container .row {
  margin-top: 2rem;
}
.us .container .row img {
  width: 82%;
  height: 25rem;
  margin-left: -8%;
  border-radius: 5px;
}
.us .container .row #i1 {
  margin-top: 2rem;
  margin-left: 0%;
}
.us .container .row #col1 {
  margin-left: -1rem;
}
.us .container .row #col2 {
  margin-left: -1rem;
}
.us .container .row #col3 b {
  font-size: calc(1rem + 1.5vw);
  font-weight: bolder;
  font-family: "Acme", sans-serif;
}
.us .container .row #col3 span {
  position: relative;
  top: 0rem;
  left: 3rem;
}
.us .container .row #col3 span .item {
  width: 25px;
  height: 25px;
  background-color: rgb(209, 118, 6);
  border-radius: 50%;
  position: relative;
  left: -3rem;
  top: 1.5rem;
}
.us .container .row #col3 span p {
  font-size: calc(0.1rem + 1.5vw);
}

@media screen and (max-width: 575px) {
  .us {
    position: relative;
    top: 11rem;
  }
  .us .container .row {
    margin-top: 1rem;
  }
  .us .container .row img {
    width: 100%;
    height: 22rem;
    margin-left: 0%;
    border-radius: 5px;
  }
  .us .container .row #i1 {
    margin-top: 2rem;
    margin-left: 0%;
  }
  .us .container .row #col1 {
    margin-left: 0rem;
  }
  .us .container .row #col2 {
    margin-left: 0rem;
  }
  .us .container .row #col3 b {
    font-size: calc(1.4rem + 1.5vw);
    font-family: "Acme", sans-serif;
  }
  .us .container .row #col3 span {
    position: relative;
    top: 0rem;
    left: 3rem;
  }
  .us .container .row #col3 span .item {
    width: 22px;
    height: 22px;
    position: relative;
    left: -3rem;
    top: 1.5rem;
  }
  .us .container .row #col3 span h1 {
    font-size: calc(1.4rem + 1.5vw);
  }
  .us .container .row #col3 span p {
    font-size: calc(0.9rem + 1.5vw);
  }
}
@media screen and (min-width: 576px) and (max-width: 991px) {
  .us {
    position: relative;
    top: 13rem;
  }
  .us .container h1 {
    color: rgb(209, 118, 6);
    font-size: calc(1.9rem + 1.5vw);
    font-weight: bolder;
    font-family: "Signika", sans-serif;
  }
  .us .container .border1 {
    width: 6.6rem;
    height: 5px;
    border-radius: 18px;
    margin-left: 0.3rem;
    background-color: rgb(209, 118, 6);
  }
  .us .container .row {
    margin-top: 2rem;
    margin-left: 32;
  }
  .us .container .row img {
    width: 89%;
    height: 25rem;
    margin-left: 3%;
    border-radius: 5px;
  }
  .us .container .row #i1 {
    margin-top: 2rem;
    margin-left: 10%;
  }
  .us .container .row #col1 {
    margin-left: -1rem;
  }
  .us .container .row #col2 {
    margin-left: -1rem;
  }
  .us .container .row #col3 b {
    font-size: calc(1rem + 1.5vw);
    font-weight: bolder;
    font-family: "Acme", sans-serif;
  }
  .us .container .row #col3 span {
    position: relative;
    top: 0rem;
    left: 3rem;
  }
  .us .container .row #col3 span .item {
    width: 25px;
    height: 25px;
    background-color: rgb(209, 118, 6);
    border-radius: 50%;
    position: relative;
    left: -3rem;
    top: 1.5rem;
  }
  .us .container .row #col3 span p {
    font-size: calc(0.1rem + 1.5vw);
  }
}
.circuit {
  margin-top: 13.5rem;
}
.circuit .container .tour_t {
  color: rgb(209, 118, 6);
  font-size: calc(2.3rem + 1.5vw);
  font-weight: bolder;
  margin-left: -0.2rem;
  font-family: "Signika", sans-serif;
}
.circuit .container .border2 {
  width: 6.6rem;
  height: 5px;
  border-radius: 18px;
  margin-left: 0.3rem;
  background-color: rgb(209, 118, 6);
}
.circuit .container h1 {
  color: rgb(209, 118, 6);
  margin-left: 3rem;
  font-weight: bold;
  font-family: "acmeregular";
  font-size: calc(1.3rem + 1.5vw);
}
.circuit .container .border_ {
  width: 6.6rem;
  height: 6px;
  border-radius: 18px;
  margin-left: 3.3rem;
  background-color: rgb(209, 118, 6);
}
.circuit .container .row {
  margin-top: 5rem;
}
.circuit .container .row .box {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 95px;
  overflow: hidden;
}
.circuit .container .row .box h4 {
  font-weight: 600;
  font-size: 18px;
  text-transform: capitalize;
  color: #fff;
  width: 65%;
  background-color: rgb(209, 118, 6);
  border-radius: 3px;
  position: relative;
  bottom: 0;
  padding: 14px 32px;
  left: 10px;
  transform: translateY(-45%);
  clip-path: polygon(9% 0, 90% 3%, 100% 94%, 0 100%);
}
.circuit .container .row .box h4 i {
  color: rgb(209, 118, 6);
}
.circuit .container .row .box h2 {
  font-size: calc(1rem + 1vw);
  font-weight: bold;
  font-family: "Acme", sans-serif;
}
.circuit .container .row .box button {
  margin-left: 3%;
  margin-top: 1.1rem;
  font-size: 19.5px;
  border-radius: 5px;
  border: 1px solid rgb(209, 118, 6);
  color: rgb(209, 118, 6);
}
.circuit .container .row .box button i {
  color: rgb(209, 118, 6);
}
.circuit .container .row .box button:hover {
  background-color: rgb(209, 118, 6);
  color: #fff;
}
.circuit .container .row .box button:hover i {
  color: #fff;
}
.circuit .container .row .box img {
  width: 120%;
  height: 14rem;
  margin-left: -21px;
  margin-top: -21px;
  margin-right: 21px;
}

@media screen and (max-width: 575px) {
  .circuit {
    margin-top: 13.5rem;
  }
  .circuit .container .row {
    margin-top: 5rem;
  }
  .circuit .container .row .box h2 {
    font-size: calc(1.4rem + 1vw);
    font-weight: bold;
    font-family: "Acme", sans-serif;
  }
  .circuit .container .row .box button {
    margin-left: 3%;
    margin-top: 1.1rem;
    font-size: 19.5px;
    border-radius: 5px;
    border: 1px solid rgb(209, 118, 6);
    color: rgb(209, 118, 6);
  }
  .circuit .container .row .box button i {
    color: rgb(209, 118, 6);
  }
  .circuit .container .row .box button:hover {
    background-color: rgb(209, 118, 6);
    color: #fff;
  }
  .circuit .container .row .box button:hover i {
    color: #fff;
  }
  .circuit .container .row .box img {
    width: 120%;
    height: 14rem;
    margin-left: -21px;
    margin-top: -21px;
    margin-right: 21px;
  }
}
@media screen and (min-width: 576px) and (max-width: 991px) {
  .circuit {
    margin-top: 17.5rem;
  }
}
.guestbook {
  position: relative;
  top: 8rem;
  height: 30rem;
  width: 100%;
  background-image: url("./../pictures/parallax.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
}
.guestbook h1 {
  color: rgb(209, 118, 6);
  font-size: calc(1.9rem + 1.5vw);
  font-weight: bolder;
  position: relative;
  top: -7rem;
  margin-left: 6rem;
  font-family: "Signika", sans-serif;
}
.guestbook .border3 {
  width: 6.6rem;
  height: 5px;
  border-radius: 18px;
  margin-left: 0.3rem;
  position: relative;
  top: -6rem;
  margin-left: 6.4rem;
  background-color: rgb(209, 118, 6);
}
.guestbook #testimonial_area {
  padding: 10% 0;
  position: relative;
  top: -9.5rem;
}
.guestbook .box-area {
  padding: 30px;
  position: relative;
  display: block;
  background: #fff;
  color: #000;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 40px 0;
}
.guestbook .box-area #quote {
  width: 30px;
  height: 30px;
  position: relative;
  top: 3.7rem;
  left: -0.8rem;
  opacity: 5;
}
.guestbook .box-area h5 {
  font-size: 20px;
  font-weight: 700;
  color: #0a69ed;
  margin-top: 10px;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Acme", sans-serif;
}
.guestbook .box-area h5 i {
  color: #0a69ed;
  margin-left: 0.5rem;
}
.guestbook .box-area span {
  color: #262626;
  display: block;
  font-size: 15px;
  margin: 0 0 10px;
  font-weight: 400;
}
.guestbook .box-area .content {
  color: #262626;
}
.guestbook .box-area .img-area {
  width: 90px;
  height: 90px;
  position: absolute;
  top: -40px;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  right: 0;
  z-index: 1;
  border: 5px solid #fff;
  border-radius: 50%;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}
.guestbook .box-area .img-area img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.guestbook #testimonial_area .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
}
.guestbook #testimonial_area .owl-prev, .guestbook #testimonial_area .owl-next {
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #0a69ed;
  border-radius: 50%;
  text-align: center;
  background: #fff;
  position: absolute;
}
.guestbook #testimonial_area .owl-prev {
  left: -60px;
  top: -30px;
}
.guestbook #testimonial_area .owl-next {
  right: -60px;
  top: -30px;
}
@media only screen and (max-width: 991px) {
  .guestbook .owl-nav {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .guestbook .box-area {
    text-align: center;
  }
  .guestbook .owl-nav {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  .guestbook {
    position: relative;
    top: 10.5rem;
    height: 30rem;
    width: 100%;
    background-image: url("./../pictures/parallax.jpg");
    background-repeat: no-repeat;
    object-fit: cover;
  }
  .guestbook h1 {
    color: rgb(209, 118, 6);
    font-size: calc(2.1rem + 1.5vw);
    font-weight: bolder;
    position: relative;
    top: -9.5rem;
    margin-left: 0.9rem;
    font-family: "Signika", sans-serif;
  }
  .guestbook .border3 {
    width: 6.6rem;
    height: 5px;
    border-radius: 18px;
    margin-left: 0.3rem;
    position: relative;
    top: -9rem;
    margin-left: 1.2rem;
    background-color: rgb(209, 118, 6);
  }
  .guestbook #testimonial_area {
    padding: 10% 0;
    position: relative;
    top: -1.7rem;
  }
}
@media screen and (min-width: 576px) and (max-width: 991px) {
  .guestbook h1 {
    font-size: calc(1.9rem + 1.5vw);
    margin-left: 3rem;
  }
  .guestbook .border3 {
    margin-left: 3.4rem;
  }
  .guestbook #testimonial_area {
    padding: 10% 0;
    position: relative;
    top: -4.5rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 991px) and (max-width: 991px) {
  .guestbook .owl-nav {
    display: none;
  }
}
@media only screen and (min-width: 576px) and (max-width: 991px) and (max-width: 767px) {
  .guestbook .box-area {
    text-align: center;
  }
  .guestbook .owl-nav {
    display: none;
  }
}
footer {
  height: 30rem;
  position: relative;
  top: 15rem;
}
footer .follow {
  position: relative;
  top: 4rem;
}
footer .follow h1 {
  font-size: calc(1.5rem + 1.2vw);
  font-weight: bolder;
  font-family: "Acme", sans-serif;
}
footer .follow #row {
  position: relative;
  left: -2rem;
}
footer .follow #row .icon {
  font-size: 18px;
  margin-left: 2rem;
  color: #fff;
  border: 0px solid;
  border-radius: 50%;
  padding: 11px;
  background-color: rgb(209, 118, 6);
}
footer .links {
  position: relative;
  top: 4rem;
}
footer .links h1 {
  font-size: calc(0.9rem + 1.2vw);
  font-weight: bolder;
  font-family: "Acme", sans-serif;
}
footer .links ul li {
  font-size: 21px;
  color: white;
  margin-top: 10px;
}
footer .tour {
  position: relative;
  top: 4rem;
}
footer .tour h1 {
  font-size: calc(0.9rem + 1.2vw);
  font-weight: bolder;
  font-family: "Acme", sans-serif;
}
footer .tour ul {
  margin-left: -10.8rem;
}
footer .tour ul li {
  font-size: 21px;
  color: white;
  margin-top: 10px;
}
footer #row2 {
  position: relative;
  top: 6rem;
}
footer #row2 h1 {
  margin-top: 0.4rem;
  font-size: calc(1.1rem + 1.2vw);
  font-family: "Acme", sans-serif;
}
footer #row2 .phone {
  margin-top: 0.4rem;
  font-size: 20px;
}
footer .copryght {
  position: relative;
  top: 7rem;
  height: 4rem;
  background: #162b32;
}
footer .copryght .row h3 {
  font-size: 23px;
}

@media screen and (max-width: 575px) {
  footer {
    height: 72rem;
    position: relative;
    top: 15rem;
  }
  footer .follow {
    margin-top: 4rem;
  }
  footer .follow h1 {
    font-size: calc(1.8rem + 1.5vw);
    font-weight: bolder;
    width: 100%;
    font-family: "Acme", sans-serif;
  }
  footer .follow #row {
    margin-left: 27.7%;
    margin-top: 1.5rem;
  }
  footer .follow #row .icon {
    font-size: 20px;
    margin-left: 5%;
    color: #fff;
    border: 0px solid;
    border-radius: 50%;
    padding: 11px;
    background-color: rgb(209, 118, 6);
  }
  footer .links {
    margin-top: 5rem;
    position: relative;
    top: 4rem;
  }
  footer .links h1 {
    font-size: calc(1.5rem + 1.2vw);
    font-weight: bolder;
    font-family: "Acme", sans-serif;
  }
  footer .links ul {
    margin-left: -4%;
  }
  footer .links ul li {
    font-size: 22px;
    color: white;
    margin-top: 10px;
  }
  footer #row2 {
    position: relative;
    top: 6rem;
  }
  footer #row2 h1 {
    margin-top: 0.4rem;
    font-size: calc(1.7rem + 1.2vw);
    font-family: "Acme", sans-serif;
  }
  footer #row2 .phone {
    margin-top: 0.4rem;
    font-size: 20px;
  }
  footer .tour {
    position: relative;
    top: 7rem;
  }
  footer .tour h1 {
    font-size: calc(1.5rem + 1.2vw);
    font-weight: bolder;
    font-family: "Acme", sans-serif;
  }
  footer .tour ul {
    margin-left: -2%;
  }
  footer .tour ul li {
    font-size: 21px;
    color: white;
    margin-top: 10px;
  }
  footer .copryght {
    position: relative;
    top: 8rem;
    height: 6rem;
    background: #162b32;
  }
  footer .copryght .row h3 {
    font-size: 23px;
  }
}
@media screen and (min-width: 576px) and (max-width: 991px) {
  footer {
    height: 45rem;
    position: relative;
    top: 15rem;
  }
  footer .follow {
    position: relative;
    top: 4rem;
    left: 29vw;
  }
  footer .follow h1 {
    font-size: calc(1.5rem + 1.2vw);
    font-weight: bolder;
    margin-left: -53%;
    font-family: "Acme", sans-serif;
  }
  footer .follow #row {
    position: relative;
    left: -2rem;
  }
  footer .follow #row .icon {
    font-size: 18px;
    margin-left: 2rem;
    color: #fff;
    border: 0px solid;
    border-radius: 50%;
    padding: 11px;
    background-color: rgb(209, 118, 6);
  }
  footer .links {
    position: relative;
    top: 4rem;
  }
  footer .links h1 {
    font-size: calc(0.9rem + 1.2vw);
    font-weight: bolder;
    font-family: "Acme", sans-serif;
  }
  footer .links ul {
    margin-left: -5%;
  }
  footer .links ul li {
    font-size: 21px;
    color: white;
    margin-top: 10px;
  }
  footer .tour {
    position: relative;
    top: 4rem;
  }
  footer .tour h1 {
    font-size: calc(0.9rem + 1.2vw);
    font-weight: bolder;
    font-family: "Acme", sans-serif;
  }
  footer .tour ul {
    margin-left: -10.5vw;
  }
  footer .tour ul li {
    font-size: 21px;
    color: white;
    margin-top: 10px;
  }
  footer #location {
    margin-left: 42%;
  }
  footer #row2 {
    position: relative;
    top: 6rem;
  }
  footer #row2 h1 {
    margin-top: 0.4rem;
    font-size: calc(1.1rem + 1.2vw);
    font-family: "Acme", sans-serif;
  }
  footer #row2 .phone {
    margin-top: 0.4rem;
    font-size: 20px;
  }
  footer .copryght {
    position: relative;
    top: 7rem;
    height: 4rem;
    background: #162b32;
  }
  footer .copryght .row h3 {
    font-size: 23px;
  }
}
* {
  font-family: "Lato", sans-serif;
  color: rgb(52, 64, 71);
}

.up i {
  font-size: 31px;
  color: #fff;
  padding: 7px;
  border-radius: 8px;
  cursor: pointer;
  background-color: rgb(209, 118, 6);
  position: fixed;
  bottom: 5vh;
  right: 20px;
  z-index: 30;
}
.up i:hover {
  background-color: rgb(27, 26, 25);
}

/*# sourceMappingURL=styles.css.map */
