@import "./../../settings.scss";
@import "./components/navbar.scss";
 @import "./components/couverture.scss";
 @import "./components/weast_desc.scss";
@import "./components/weast_day.scss";
 @import "./components/with-tsingy-bemaraha.scss";
 @import "./components/comments.scss";
 @import "./components/map.scss";
 @import "./components/tsingy.scss";
@import "./components/footer.scss";
 @import "./components/Baobab.scss";
 @import "./components/galerie.scss";
// @import "./components/responsive/medium.scss";


*{
    font-family: 'Lato', sans-serif;
    color: rgb(52, 64, 71);
}

.up{
      
  i{
     font-size: 31px;
     color: #fff;
     padding: 7px;
     border-radius: 8px;
     cursor: pointer;
     background-color: rgb(209, 118, 6);
     position: fixed;
     bottom: 5vh;
     right: 20px;
     z-index: 30;

      &:hover{
        background-color: rgb(27, 26, 25);
      }
  }
}
