@charset "UTF-8";
* {
  text-decoration: none;
  list-style: none;
  color: rgb(227, 216, 201);
}

html::-webkit-scrollbar {
  background-color: white;
  width: 10px;
  scrollbar-width: thin;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(53, 44, 44, 0.555);
  height: -5px;
  width: 6px;
  border-radius: 10px;
}

@font-face {
  font-family: "coneria_script_demoregular";
  src: url("./fonts/demo_coneriascript-webfont.woff2") format("woff2"), url("./fonts/demo_coneriascript-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "unnabold";
  src: url("fonts/unna-bold-webfont.woff2") format("woff2"), url("fonts/unna-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "yeseva_oneregular";
  src: url("fonts/yesevaone-regular-webfont.woff2") format("woff2"), url("fonts/yesevaone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "font-1";
  src: url("./fonts/josefinsans-variablefont_wght-webfont.woff2") format("woff2"), url("./fonts/josefinsans-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "battoraregular";
  src: url("fonts/battora-webfont.woff2") format("woff2"), url("./fonts/battora-webfont .woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "alfa_slab_oneregular";
  src: url("./fonts/alfaslabone-regular-webfont.woff2") format("woff2"), url("fonts/alfaslabone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "paytone_oneregular";
  src: url("fonts/paytoneone-regular-webfont.woff2") format("woff2"), url("fonts/paytoneone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.navbar-nav li:hover ul.dropdown-menu {
  display: block;
}

/* Style pour l'effet hover sur les liens */
.navbar-nav .nav-link {
  text-decoration: none;
  position: relative;
}

.active {
  position: absolute;
  bottom: -0.16rem;
  left: 0;
  right: 0;
  height: 3px;
  width: 100%;
  border-radius: 28px;
  background-color: rgb(177, 165, 1);
}

.navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 3px;
  border-radius: 28px;
  background-color: rgb(177, 165, 1);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out;
}

.navbar-nav .nav-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/* Style pour l'effet hover sur le bouton toggle */
.navbar-toggler:hover {
  background-color: rgb(177, 165, 1);
}

/* Style pour l'effet hover sur les éléments du menu déroulant */
.navbar-nav li .dropdown-menu a:hover {
  color: #fff;
  background-color: rgb(177, 165, 1);
}

.logo {
  width: 130px;
  height: 59px;
  left: 0.4rem;
  position: relative;
  z-index: 4;
  top: 0.3rem;
}

.logoBurger {
  position: absolute;
  left: -8rem;
}

#nav {
  background-color: #ffffff;
}

#navbarNav {
  position: relative;
  left: 0;
}
#navbarNav li {
  font-size: 20.5px;
}

@media (min-width: 576px) {
  .logo {
    width: 130px;
    height: 65px;
    left: 0.4rem;
    position: relative;
    z-index: 4;
    top: 0.3rem;
  }
}
@media (min-width: 992px) {
  #navbarNav {
    float: right;
    margin-left: 20vw;
    justify-content: space-between;
    align-items: center;
  }
  #navbarNav li {
    margin-left: 23px;
  }
  .logo {
    width: 164px;
    height: 64px;
    left: 0.4rem;
    position: relative;
    z-index: 4;
    top: 0.3rem;
  }
  .navbar-collapse {
    margin-left: 50px;
  }
}
.couv h1 {
  font-family: "acmeregular";
  font-weight: 900;
  font-size: calc(1.6rem + 1.5vw);
  position: relative;
  top: -26vh;
  left: 24vw;
  width: 50%;
  font-family: "acmeregular";
}
.couv h3 {
  font-family: "acmeregular";
  font-weight: 900;
  font-size: calc(1.12rem + 1.2vw);
  position: relative;
  color: rgb(177, 165, 1);
  top: -27vh;
  font-family: "coneria_script_demoregular";
  left: 24vw;
  width: 50%;
}
.couv #couverture {
  position: relative;
  filter: brightness(60%);
}

@media (min-width: 576px) {
  #couverture {
    height: 21rem;
    filter: brightness(50%);
  }
  .couv h1 {
    font-size: calc(1.6rem + 1.5vw);
    position: relative;
    top: -13rem;
  }
  .couv h3 {
    font-size: calc(1.12rem + 1.2vw);
    position: relative;
    color: rgb(177, 165, 1);
    top: -14rem;
  }
}
@media (min-width: 992px) {
  #couverture {
    height: 60vh;
    filter: brightness(50%);
  }
}
@media (max-width: 575px) {
  .couv h1 {
    font-family: "acmeregular";
    font-weight: 900;
    font-size: calc(1.6rem + 1.5vw);
    position: relative;
    top: -31vh;
    left: 5vw;
    width: 90%;
    font-family: "acmeregular";
  }
  .couv #couverture {
    height: 41vh;
    position: relative;
    filter: brightness(70%);
  }
  .couv h3 {
    font-family: "acmeregular";
    font-weight: 900;
    font-size: calc(1.12rem + 1.2vw);
    position: relative;
    color: rgb(177, 165, 1);
    top: -33vh;
    font-family: "coneria_script_demoregular";
    left: 24vw;
    width: 50%;
  }
}
* {
  text-decoration: none;
  list-style: none;
  color: rgb(227, 216, 201);
}

html::-webkit-scrollbar {
  background-color: white;
  width: 10px;
  scrollbar-width: thin;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(53, 44, 44, 0.555);
  height: -5px;
  width: 6px;
  border-radius: 10px;
}

@font-face {
  font-family: "coneria_script_demoregular";
  src: url("./fonts/demo_coneriascript-webfont.woff2") format("woff2"), url("./fonts/demo_coneriascript-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "unnabold";
  src: url("fonts/unna-bold-webfont.woff2") format("woff2"), url("fonts/unna-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "yeseva_oneregular";
  src: url("fonts/yesevaone-regular-webfont.woff2") format("woff2"), url("fonts/yesevaone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "font-1";
  src: url("./fonts/josefinsans-variablefont_wght-webfont.woff2") format("woff2"), url("./fonts/josefinsans-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "battoraregular";
  src: url("fonts/battora-webfont.woff2") format("woff2"), url("./fonts/battora-webfont .woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "alfa_slab_oneregular";
  src: url("./fonts/alfaslabone-regular-webfont.woff2") format("woff2"), url("fonts/alfaslabone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "paytone_oneregular";
  src: url("fonts/paytoneone-regular-webfont.woff2") format("woff2"), url("fonts/paytoneone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@font-face {
  font-family: "coneria_script_demoregular";
  src: url("./../../../fonts/demo_coneriascript-webfont.woff2") format("woff2"), url("./../../../fonts/demo_coneriascript-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "yeseva_oneregular";
  src: url("../../../fonts/yesevaone-regular-webfont.woff2") format("woff2"), url("../../../fonts/yesevaone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@media screen and (min-width: 1024px) {
  @font-face {
    font-family: "coneria_script_demoregular";
    src: url("./../../../fonts/demo_coneriascript-webfont.woff2") format("woff2"), url("./../../../fonts/demo_coneriascript-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "yeseva_oneregular";
    src: url("../../../fonts/yesevaone-regular-webfont.woff2") format("woff2"), url("../../../fonts/yesevaone-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  b {
    color: rgb(62, 56, 56);
  }
  #titre {
    position: relative;
    color: rgb(209, 118, 6);
    top: -11.5rem;
    font-weight: 1000;
    left: -2%;
    font-weight: 800;
    font-size: 32.6px;
    font-family: "coneria_script_demoregular";
  }
  .details_title {
    position: relative;
    color: rgb(209, 118, 6);
    top: 12rem;
    font-weight: 1000;
    left: 5%;
    width: 35vw;
    font-weight: 800;
    font-size: 39.6px;
    font-family: "yeseva_oneregular";
  }
  .title_east {
    color: rgb(228, 232, 240);
    font-size: 45px;
    position: absolute;
    top: -8.5rem;
    left: 18vw;
    font-weight: 800;
    width: 60vw;
    font-family: "yeseva_oneregular";
  }
  .east {
    position: absolute;
    top: 37rem;
    width: 100%;
    height: 55rem;
  }
  .east .desc {
    position: absolute;
    width: 90%;
    top: 24rem;
    left: 3vw;
    font-size: 20px;
    color: rgb(93, 93, 97);
  }
}
@media screen and (min-width: 280px) and (max-width: 763px) {
  @font-face {
    font-family: "coneria_script_demoregular";
    src: url("./../../../fonts/demo_coneriascript-webfont.woff2") format("woff2"), url("./../../../fonts/demo_coneriascript-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  #titre {
    position: relative;
    color: rgb(209, 118, 6);
    top: -14.5rem;
    font-weight: 1000;
    left: -2%;
    font-weight: 800;
    font-size: 25.6px;
    font-family: "coneria_script_demoregular";
  }
  .details_title {
    position: absolute;
    color: rgb(209, 118, 6);
    top: 12.5rem;
    font-weight: 1000;
    left: 6%;
    width: 85vw;
    font-weight: 800;
    font-size: 30px;
    font-family: "yeseva_oneregular";
  }
  .title_east {
    color: rgb(228, 232, 240);
    font-size: 35px;
    position: absolute;
    top: -11.5rem;
    left: 18vw;
    font-weight: 800;
    width: 60vw;
    font-family: "yeseva_oneregular";
  }
  .east {
    position: absolute;
    top: 32rem;
    width: 100%;
    height: 55rem;
  }
  .east .desc {
    position: absolute;
    width: 90%;
    top: 20rem;
    left: 3.5vw;
    font-size: 20px;
    color: rgb(93, 93, 97);
  }
  .east .desc span {
    color: rgb(0, 0, 0);
  }
}
font-face {
  font-family: "coneria_script_demoregular";
  src: url("./../../../fonts/demo_coneriascript-webfont.woff2") format("woff2"), url("./../../../fonts/demo_coneriascript-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "yeseva_oneregular";
  src: url("../../../fonts/yesevaone-regular-webfont.woff2") format("woff2"), url("../../../fonts/yesevaone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "abril_fatfaceregular";
  src: url("../../..//abrilfatface-regular-webfont.woff2") format("woff2"), url("fonts/abrilfatface-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "coneria_script_demoregular";
  src: url("./../../../fonts/demo_coneriascript-webfont.woff2") format("woff2"), url("./../../../fonts/demo_coneriascript-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "acmeregular";
  src: url("../../../fonts/acme-regular-webfont.woff2") format("woff2"), url("../../../fonts/") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  text-decoration: none;
  list-style: none;
  color: rgb(227, 216, 201);
}

html::-webkit-scrollbar {
  background-color: white;
  width: 10px;
  scrollbar-width: thin;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(53, 44, 44, 0.555);
  height: -5px;
  width: 6px;
  border-radius: 10px;
}

@font-face {
  font-family: "coneria_script_demoregular";
  src: url("./fonts/demo_coneriascript-webfont.woff2") format("woff2"), url("./fonts/demo_coneriascript-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "unnabold";
  src: url("fonts/unna-bold-webfont.woff2") format("woff2"), url("fonts/unna-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "yeseva_oneregular";
  src: url("fonts/yesevaone-regular-webfont.woff2") format("woff2"), url("fonts/yesevaone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "font-1";
  src: url("./fonts/josefinsans-variablefont_wght-webfont.woff2") format("woff2"), url("./fonts/josefinsans-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "battoraregular";
  src: url("fonts/battora-webfont.woff2") format("woff2"), url("./fonts/battora-webfont .woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "alfa_slab_oneregular";
  src: url("./fonts/alfaslabone-regular-webfont.woff2") format("woff2"), url("fonts/alfaslabone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "paytone_oneregular";
  src: url("fonts/paytoneone-regular-webfont.woff2") format("woff2"), url("fonts/paytoneone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

b {
  color: rgb(62, 56, 56);
}

.title_north {
  margin-left: 3%;
  font-size: calc(1.875rem + 1.5vw);
  font-family: "acmeregular";
  font-weight: bold;
}

.north {
  position: relative;
  top: -3rem;
}
.north .desc {
  margin-top: 1rem;
  position: relative;
  left: 0vw;
  width: 90%;
}

.borde {
  width: 6.6rem;
  height: 6px;
  border-radius: 18px;
  margin-left: 0%;
  background-color: rgb(209, 118, 6);
}

@media (min-width: 576px) {
  .title_north {
    color: rgb(209, 118, 6);
    margin-left: 3rem;
    font-family: "acmeregular";
    font-size: 38px;
  }
  .borde {
    margin-left: 7.3%;
  }
  .north {
    position: relative;
    top: -3rem;
  }
  .north .desc {
    left: -3vw;
    width: 90%;
  }
}
@media (max-width: 575px) {
  .north {
    position: relative;
    top: -4rem;
  }
  .north .desc {
    position: relative;
    left: -8vw;
    width: 92%;
    font-size: calc(1.05rem + 1.5vw);
  }
  .title_north {
    color: rgb(209, 118, 6);
    font-size: calc(2.05rem + 1.5vw);
  }
  .borde {
    margin-left: 3.4%;
  }
}
@media (min-width: 992px) {
  .title_north {
    margin-left: 3rem;
    font-size: calc(1.75rem + 1.5vw);
  }
  .borde {
    margin-left: 3.7%;
  }
  .north {
    position: relative;
    top: -3rem;
  }
  .north .desc {
    left: 0vw;
    width: 90%;
  }
}
@font-face {
  font-family: "abril_fatfaceregular";
  src: url("../../..//abrilfatface-regular-webfont.woff2") format("woff2"), url("fonts/abrilfatface-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "coneria_script_demoregular";
  src: url("./../../../fonts/demo_coneriascript-webfont.woff2") format("woff2"), url("./../../../fonts/demo_coneriascript-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "acmeregular";
  src: url("../../../fonts/acme-regular-webfont.woff2") format("woff2"), url("../../../fonts/") format("woff");
  font-weight: normal;
  font-style: normal;
}
.point {
  width: 30px;
  height: 30px;
  position: relative;
  top: 5.2rem;
  box-shadow: 5px 15px 45px rgb(209, 118, 6);
  left: 0.6rem;
  border-radius: 50%;
  background-color: rgb(209, 118, 6);
  animation: blink 2s infinite;
}

@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@keyframes shadow {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.5);
  }
  100% {
    box-shadow: none;
  }
}
.east_day {
  position: relative;
  top: 7vw;
}
.east_day h1 {
  font-family: "acmeregular";
  font-weight: 900;
  font-size: calc(1.275rem + 1.5vw);
}

#carouselExampleControls {
  width: 58%;
  height: 73vh;
  border-radius: 18px;
}
#carouselExampleControls #inner {
  height: 73vh;
  width: 100%;
  border-radius: 18px;
}
#carouselExampleControls #inner img {
  height: 73vh;
  width: 58%;
  border-radius: 18px;
}

@media (min-width: 576px) {
  #carouselExampleControls {
    width: 82%;
    height: 40vh;
    border-radius: 18px;
    margin-left: 9.7%;
  }
  #carouselExampleControls #inner {
    height: 40vh;
    width: 100%;
    border-radius: 18px;
  }
  #carouselExampleControls #inner img {
    height: 40vh;
    width: 58%;
    border-radius: 18px;
  }
  #point {
    position: relative;
    margin-left: -23rem;
    top: 5.5rem;
  }
  .east_day {
    position: relative;
    top: 2.6rem;
  }
  h3 {
    color: #7851a9;
    position: absolute;
    top: 2.5rem;
    left: 35%;
    font-weight: bold;
  }
  h3 i {
    color: #7851a9;
  }
  #classic_h1 {
    font-family: "acmeregular";
    font-weight: 900;
    font-size: 40px;
    position: relative;
    color: #36454f;
  }
  .east_day .row {
    margin-left: 6%;
    margin-top: 5rem;
  }
  .east_day .row div {
    width: 91%;
  }
  .east_day .row div div {
    background-color: rgba(165, 165, 165, 0.3294117647);
    padding: 0;
  }
  .east_day .row div div h2 {
    color: rgb(209, 118, 6);
    font-family: "abril_fatfaceregular";
    font-weight: bold;
    font-size: calc(1.1rem + 1.7vw);
  }
  .east_day .row div div h2 i {
    color: rgb(209, 118, 6);
  }
  .east_day .row div div p {
    font-size: calc(0.6rem + 0.95vw);
  }
}
@media (min-width: 992px) {
  .point {
    top: 5.2rem;
    left: 0.3rem;
  }
  #point {
    position: relative;
    margin-left: 0%;
    top: 5.5rem;
  }
  #carouselExampleControls {
    width: 58%;
    height: 73vh;
    border-radius: 18px;
    margin-left: 20.7%;
  }
  #carouselExampleControls #inner {
    height: 73vh;
    width: 100%;
    border-radius: 18px;
  }
  #carouselExampleControls #inner img {
    height: 73vh;
    width: 58%;
    border-radius: 18px;
  }
  .point {
    position: relative;
    left: 1.2rem;
    top: 5.5rem;
  }
  .east_day {
    position: relative;
    top: 2.6rem;
  }
  .east_day h3 {
    color: #7851a9;
    position: absolute;
    top: 2.5rem;
    left: 6rem;
    font-weight: 800;
  }
  .east_day h3 i {
    color: #7851a9;
  }
  .east_day #classic_h1 {
    font-family: "acmeregular";
    font-weight: 900;
    font-size: 47px;
    position: relative;
    left: 1.9rem;
    color: #36454f;
  }
  .east_day .row {
    margin-left: 6%;
    margin-top: 5rem;
  }
  .east_day .row div {
    width: 57%;
  }
  .east_day .row div div {
    background-color: rgba(165, 165, 165, 0.3294117647);
    padding: 0;
  }
  .east_day .row div div h2 {
    color: rgb(209, 118, 6);
    font-family: "abril_fatfaceregular";
    font-weight: bold;
    font-size: calc(0.6rem + 1.7vw);
  }
  .east_day .row div div h2 i {
    color: rgb(209, 118, 6);
  }
  .east_day .row div div p {
    font-size: calc(0.5rem + 0.95vw);
  }
}
@media (max-width: 575px) {
  #carouselExampleControls {
    width: 95%;
    height: 50vh;
    border-radius: 18px;
    text-align: center;
    margin-left: 2.4vw;
  }
  #carouselExampleControls #inner {
    height: 50vh;
    width: 100%;
    border-radius: 18px;
  }
  #carouselExampleControls #inner img {
    height: 50vh;
    width: 58%;
    border-radius: 18px;
  }
  .east_day {
    position: relative;
    top: -7vw;
  }
  .east_day h3 {
    color: #7851a9;
    position: relative;
    top: 3.7rem;
    font-weight: 800;
  }
  .east_day h3 i {
    color: #7851a9;
  }
  .east_day #classic_h1 {
    font-family: "acmeregular";
    font-weight: 900;
    font-size: calc(1.7rem + 1.5vw);
    color: #36454f;
  }
  .east_day .row {
    position: relative;
    left: 0%;
    top: 5rem;
  }
  .east_day .row div div {
    background-color: rgba(165, 165, 165, 0.3294117647);
  }
  .east_day .row div div h2 {
    color: rgb(209, 118, 6);
    font-family: "abril_fatfaceregular";
    font-weight: bold;
    font-size: calc(1.19rem + 1.7vw);
  }
  .east_day .row div div h2 i {
    color: rgb(209, 118, 6);
  }
  .east_day .row div div p {
    font-size: calc(0.95rem + 0.95vw);
  }
}
.east_day_pang {
  position: relative;
  top: 7vw;
}
.east_day_pang h1 {
  font-family: "acmeregular";
  font-weight: 900;
  font-size: calc(1.275rem + 1.5vw);
}

#carouselExampleControl {
  width: 58%;
  height: 73vh;
  border-radius: 18px;
}
#carouselExampleControl #inner {
  height: 73vh;
  width: 100%;
  border-radius: 18px;
}
#carouselExampleControl #inner img {
  height: 73vh;
  width: 58%;
  border-radius: 18px;
}

@media (min-width: 576px) {
  .point {
    position: relative;
    margin-left: -13rem;
    top: 5.5rem;
  }
  #carouselExampleControl {
    width: 80%;
    height: 40vh;
    border-radius: 18px;
    margin-left: 9.7%;
  }
  #carouselExampleControl #inner {
    height: 40vh;
    width: 100%;
    border-radius: 18px;
  }
  #carouselExampleControl #inner img {
    height: 40vh;
    width: 58%;
    border-radius: 18px;
  }
  h3 {
    color: #7851a9;
    position: absolute;
    top: 2.5rem;
    left: 35%;
    font-weight: bold;
  }
  h3 i {
    color: #7851a9;
  }
  #classic_h1 {
    font-family: "acmeregular";
    font-weight: 900;
    font-size: 40px;
    position: relative;
    color: #36454f;
  }
  .east_day_pang {
    position: relative;
    top: 10rem;
  }
  .east_day_pang .row {
    margin-left: 6%;
    margin-top: 5rem;
  }
  .east_day_pang .row div {
    width: 92%;
  }
  .east_day_pang .row div div {
    background-color: rgba(165, 165, 165, 0.3294117647);
    padding: 0;
  }
  .east_day_pang .row div div h2 {
    color: rgb(209, 118, 6);
    font-family: "abril_fatfaceregular";
    font-weight: bold;
    font-size: calc(1.1rem + 1.7vw);
  }
  .east_day_pang .row div div h2 i {
    color: rgb(209, 118, 6);
  }
  .east_day_pang .row div div p {
    font-size: calc(0.6rem + 0.95vw);
  }
}
@media (min-width: 992px) {
  .point {
    position: relative;
    margin-left: 0%;
    top: 5.5rem;
  }
  #carouselExampleControl {
    width: 58%;
    height: 73vh;
    border-radius: 18px;
    margin-left: 20.7%;
  }
  #carouselExampleControl #inner {
    height: 73vh;
    width: 100%;
    border-radius: 18px;
  }
  #carouselExampleControl #inner img {
    height: 73vh;
    width: 58%;
    border-radius: 18px;
  }
  .point {
    position: relative;
    left: 1.2rem;
    top: 5.5rem;
  }
  .east_day_pang {
    position: relative;
    top: 11.6rem;
  }
  .east_day_pang h3 {
    color: #7851a9;
    position: absolute;
    top: 2.5rem;
    left: 6rem;
    font-weight: 800;
  }
  .east_day_pang h3 i {
    color: #7851a9;
  }
  .east_day_pang #classic_h1 {
    font-family: "acmeregular";
    font-weight: 900;
    font-size: 47px;
    position: relative;
    left: 1.9rem;
    color: #36454f;
  }
  .east_day_pang .row {
    margin-left: 6%;
    margin-top: 5rem;
  }
  .east_day_pang .row div {
    width: 57%;
  }
  .east_day_pang .row div div {
    background-color: rgba(165, 165, 165, 0.3294117647);
  }
  .east_day_pang .row div div h2 {
    color: rgb(209, 118, 6);
    font-family: "abril_fatfaceregular";
    font-weight: bold;
    font-size: calc(0.6rem + 1.7vw);
  }
  .east_day_pang .row div div h2 i {
    color: rgb(209, 118, 6);
  }
  .east_day_pang .row div div p {
    font-size: calc(0.5rem + 0.95vw);
  }
}
@media (max-width: 575px) {
  #carouselExampleControl {
    width: 95%;
    height: 50vh;
    border-radius: 18px;
    text-align: center;
    margin-left: 2.4vw;
  }
  #carouselExampleControl #inner {
    height: 50vh;
    width: 100%;
    border-radius: 18px;
  }
  #carouselExampleControl #inner img {
    height: 50vh;
    width: 58%;
    border-radius: 18px;
  }
  .east_day_pang {
    position: relative;
    top: 18vw;
  }
  .east_day_pang h3 {
    color: #7851a9;
    position: relative;
    top: 3.7rem;
    font-weight: 800;
  }
  .east_day_pang h3 i {
    color: #7851a9;
  }
  .east_day_pang #classic_h1 {
    font-family: "acmeregular";
    font-weight: 900;
    font-size: calc(1.7rem + 1.5vw);
    color: #36454f;
  }
  .east_day_pang .row {
    position: relative;
    left: 0%;
    top: 5rem;
  }
  .east_day_pang .row div div {
    background-color: rgba(165, 165, 165, 0.3294117647);
  }
  .east_day_pang .row div div h2 {
    color: rgb(209, 118, 6);
    font-family: "abril_fatfaceregular";
    font-weight: bold;
    font-size: calc(1.19rem + 1.7vw);
  }
  .east_day_pang .row div div h2 i {
    color: rgb(209, 118, 6);
  }
  .east_day_pang .row div div p {
    font-size: calc(0.95rem + 0.95vw);
  }
}
.sainte-marie {
  position: relative;
  top: 7vw;
}
.sainte-marie h1 {
  font-family: "acmeregular";
  font-weight: 900;
  font-size: calc(1.275rem + 1.5vw);
}

#carouselExampleControl2 {
  width: 58%;
  height: 73vh;
  border-radius: 18px;
}
#carouselExampleControl2 #inner {
  height: 73vh;
  width: 100%;
  border-radius: 18px;
}
#carouselExampleControl2 #inner img {
  height: 73vh;
  width: 58%;
  border-radius: 18px;
}

@media (min-width: 576px) {
  #point3 {
    margin-left: -25%;
  }
  #carouselExampleControl2 {
    width: 82%;
    height: 40vh;
    border-radius: 18px;
    margin-left: 9.7%;
  }
  #carouselExampleControl2 #inner {
    height: 40vh;
    width: 100%;
    border-radius: 18px;
  }
  #carouselExampleControl2 #inner img {
    height: 40vh;
    width: 58%;
    border-radius: 18px;
  }
  h3 {
    color: #7851a9;
    position: absolute;
    top: 2.5rem;
    left: 35%;
    font-weight: bold;
  }
  h3 i {
    color: #7851a9;
  }
  #classic_h1 {
    font-family: "acmeregular";
    font-weight: 900;
    font-size: 40px;
    position: relative;
    color: #36454f;
  }
  .sainte-marie {
    position: relative;
    top: 14rem;
  }
  .sainte-marie .row {
    margin-left: 6%;
    margin-top: 5rem;
  }
  .sainte-marie .row div {
    width: 91.4%;
  }
  .sainte-marie .row div div {
    background-color: rgba(165, 165, 165, 0.3294117647);
    padding: 0;
  }
  .sainte-marie .row div div h2 {
    color: rgb(209, 118, 6);
    font-family: "abril_fatfaceregular";
    font-weight: bold;
    font-size: calc(1.1rem + 1.7vw);
  }
  .sainte-marie .row div div h2 i {
    color: rgb(209, 118, 6);
  }
  .sainte-marie .row div div p {
    font-size: calc(0.6rem + 0.95vw);
  }
}
@media (min-width: 992px) {
  #point3 {
    position: relative;
    margin-left: 0%;
    top: 5.5rem;
  }
  .point {
    position: relative;
    margin-left: 0%;
    top: 5.5rem;
  }
  #carouselExampleControl2 {
    width: 58%;
    height: 73vh;
    border-radius: 18px;
    margin-left: 20.7%;
  }
  #carouselExampleControl2 #inner {
    height: 73vh;
    width: 100%;
    border-radius: 18px;
  }
  #carouselExampleControl2 #inner img {
    height: 73vh;
    width: 58%;
    border-radius: 18px;
  }
  .point {
    position: relative;
    left: 1.2rem;
    top: 5.5rem;
  }
  .sainte-marie {
    position: relative;
    top: 17.6rem;
  }
  .sainte-marie h3 {
    color: #7851a9;
    position: absolute;
    top: 2.5rem;
    left: 6rem;
    font-weight: 800;
  }
  .sainte-marie h3 i {
    color: #7851a9;
  }
  .sainte-marie #classic_h1 {
    font-family: "acmeregular";
    font-weight: 900;
    font-size: 47px;
    position: relative;
    left: 1.9rem;
    color: #36454f;
  }
  .sainte-marie .row {
    margin-left: 15%;
    margin-top: 5rem;
  }
  .sainte-marie .row div {
    width: 75%;
  }
  .sainte-marie .row div div {
    background-color: rgba(165, 165, 165, 0.3294117647);
  }
  .sainte-marie .row div div h2 {
    color: rgb(209, 118, 6);
    font-family: "abril_fatfaceregular";
    font-weight: bold;
    font-size: calc(0.6rem + 1.7vw);
  }
  .sainte-marie .row div div h2 i {
    color: rgb(209, 118, 6);
  }
  .sainte-marie .row div div p {
    font-size: calc(0.5rem + 0.95vw);
  }
}
@media (max-width: 575px) {
  #carouselExampleControl2 {
    width: 95%;
    height: 50vh;
    border-radius: 18px;
    text-align: center;
    margin-left: 2.4vw;
  }
  #carouselExampleControl2 #inner {
    height: 50vh;
    width: 100%;
    border-radius: 18px;
  }
  #carouselExampleControl2 #inner img {
    height: 50vh;
    width: 58%;
    border-radius: 18px;
  }
  .sainte-marie {
    position: relative;
    top: 55vw;
  }
  .sainte-marie h3 {
    color: #7851a9;
    position: relative;
    top: 3.7rem;
    font-weight: 800;
  }
  .sainte-marie h3 i {
    color: #7851a9;
  }
  .sainte-marie #classic_h1 {
    font-family: "acmeregular";
    font-weight: 900;
    font-size: calc(1.7rem + 1.5vw);
    color: #36454f;
  }
  .sainte-marie .row {
    position: relative;
    left: 0%;
    top: 5rem;
  }
  .sainte-marie .row div div {
    background-color: rgba(165, 165, 165, 0.3294117647);
  }
  .sainte-marie .row div div h2 {
    color: rgb(209, 118, 6);
    font-family: "abril_fatfaceregular";
    font-weight: bold;
    font-size: calc(1.19rem + 1.7vw);
  }
  .sainte-marie .row div div h2 i {
    color: rgb(209, 118, 6);
  }
  .sainte-marie .row div div p {
    font-size: calc(0.95rem + 0.95vw);
  }
}

/*# sourceMappingURL=east.css.map */
