@font-face {
    font-family: 'coneria_script_demoregular';
    src: url('./../../../fonts/demo_coneriascript-webfont.woff2') format('woff2'),
        url('./../../../fonts/demo_coneriascript-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.couv {
    h1 {
        font-family: 'Acme', sans-serif;
        font-weight: 900;
        font-size: calc(1.800rem + 1.5vw);
        position: relative;
        top: -24vh;
        left: 24vw;
        color: #fff;
        width: 50%;
    }

   

    div {
        overflow: hidden;
    }

    #couv_ {
        height: 28rem;
        overflow: hidden;
        filter: brightness(57%);

        img {
            position: relative;
            height: 34rem;
            width: 100%;
        }
    }

    #couv_1{
        height: 28rem;
        display: none;
        overflow: hidden;
        filter: brightness(57%);

        img {
            position: relative;
            height: 34rem;
            width: 100%;
        }
    }

}


@media (max-width: 575px) {
.couv{
    #couv_1{
        height: 21rem;
        display: block;
        overflow: hidden;
        filter: brightness(52%);

        img {
            position: relative;
            height: 28rem;
            width: 100%;
        }
    }

      #couv_{
        display: none;
      }
}
}

@media (min-width: 576px) {
    #couverture {
        height: 21rem;
        filter: brightness(50%);
    }

    .couv {
        h1 {
            font-size: calc(1.600rem + 1.5vw);
            position: relative;
            top: -13rem;
        }

        h3 {

            font-size: calc(1.120rem + 1.2vw);
            position: relative;
            color: rgb(177, 165, 1);
            top: -14rem;
            font-family: 'Signika', sans-serif;
        }

    }

}

@media (min-width: 992px) {
    #couverture {
        height: 60vh;
        filter: brightness(50%);
    }
    .couv {
        h1 {
            font-size: calc(1.600rem + 1.5vw);
            position: relative;
            top: -10rem;
        }

    }
}

@media (max-width: 575px) {
    .couv {
        h1 {
            font-family: 'Acme', sans-serif;
            font-weight: 900;
            font-size: calc(1.7rem + 1.3vw);
            position: relative;
            top: -24vh;
            left: 5vw;
            width: 90%;
            
        }


        #couv_ {
            height: 18.4rem;
            overflow: hidden;
            filter: brightness(65%);
            display: none;

            img {
                position: relative;
                height: 22rem;
                width: 100%;
            }
        }


        

    }

}