@media screen and (max-width: 1500px) and (min-width: 1280px) {
    header{
        background-color:white;
        height:1.8cm;
        width:100%;
        position: fixed;
        z-index: 4;
       }
    
    .header{
        background-color:white;
        height:1.9cm;
        width:100%;
        position: fixed;
        z-index: 4;
        top: 0;
       }
    
        .logo{
        width: 169px;
        height: 68px;
        left: 2rem;
        position: fixed;
        z-index: 4;
        top: 1rem;
        }
    
      .logoBurger{
        position: absolute;
        left: -8rem;
    
    } 
    
      header ul {
      position: relative;
      top: -2.5rem;
      right: 1rem;
      display: flex;
      list-style-type: none;
      height:1cm;
      padding-top:5rem;
      padding-bottom: 14rem;
      overflow: hidden;
          float: right;
        }
        
        li a{
         margin : 6px;
         font-size: 19px;
         padding:17px;
         color:rgb(64, 56, 56);
        }
    
         
        li a.active {
        color: white;
        background-color: #04AA6D;
        border: opx solid;
        border-width: 20px;
        border-radius: 8px;
        text-decoration: none;
        
        } 
    
        li a:hover:not(.active) {
        background-color: #d6d61e;
        border-radius: 8px;
        text-decoration: none;
        color:rgb(64, 56, 56);
        }
    
        .versionAng{
        margin-left: 5rem;
        font-size: 19px;
        color: rgb(64, 56, 56);
        }
    
      .imgAng{
      position: relative;
      left :0rem;
      top:0rem;
      width:30px;
      border-radius: 40%;
      height: 30px;
        }
    
        .fenetreFrancais{
      position: relative;
      display: none;
      float: right;
      left: 94rem;
      top:8.3rem;
      width:5cm;
      height:2cm;
      background-color: #04AA6D;
      z-index: 4;
      transform: translateY(-4.5cm);
      transition: 0;
      }
    
        .imgAng1{
        width: 35px;
        height: 35px;
        position: relative;
        left: 1rem;
        border-radius: 40%;
        cursor: pointer;
        }
     
        .fenetreFrancais p{
        position: absolute;
        left: 7rem;
        top: 2rem;
        font-size: 20px;
        cursor: pointer;
        }

        .title_south{
            font-size: 56px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 800;
            position: absolute;
            top: 73rem;
            color: rgb(6, 28, 70);
            left: 8rem;
        }
        
        .sud_contain .desc{
             position: absolute;
             width: 100rem;
             top: 83rem;
             left: 8rem;
             font-size: 20px;
             color: rgb(93, 93, 97);
        }
        

        footer{
            position: relative;
            top: 1500.4rem;
            background-color: rgba(0, 0, 0, 0.705);
            width :100%;
            height: 55vh;
          }
          
          .footer_contact{
             width: 45%;
             position: relative;
             top: 5rem;
             left: 40%;
          }
          
          .footer_contact h1{
            font-size: 36px;
            color: #ffffff;
            margin-left: 3.8rem;
          }
          
          .mail{
            font-size: 20px;
            position: absolute;
            top: 5rem;
            left :-0.5rem;
            color: #ffffff;
          }
          
          .phone{
            font-size: 20px;
            position: absolute;
            top: 8rem;
            left :-0.5rem;
            color: #ffffff;
          }
          
          .footer_contact p:nth-last-child(3){
            font-size: 22px;
            position: absolute;
            top: 11.1rem;
            left :-0.5rem;
            color: #ffffff;
          }
          
          
          div.icones img:nth-last-child(1){
           position: absolute;
           top:20rem;
           left: 0rem;
          }
          
          .img_fb{
            position: absolute;
            top:0rem;
            left: 7rem;
           }
          
           div.icones img:nth-last-child(3){
            position: absolute;
            top:20rem;
            left: 14rem;
           }
           
           .icones{
            position: relative;
            top: -6rem;
            left: 3rem;
           }
          
           .border_{
            position: absolute;
            top: 17rem;
            left: 7.2rem;
            width: 2.6cm;
            height: 4px;
            background-color: #ffffff;
           }
          
           .footCopright{
            position: absolute;
            top: 34.4rem;
            width: 100%;
            height: 1.6cm;
            background-color: rgba(40, 37, 37, 0.921);
            font-size: 20px;
            padding-top: 1.5rem;
            color: rgb(212, 205, 205);
           }
          
           
        
}