@import "../../settings.scss";
@import "./components/south_desc.scss";
@import "./components/couverture.scss";
@import "components/navbar.scss";
@import "components/classic_south.scss";
@import "components/combines-tour.scss";
@import "components/adventures.scss";
@import "components/anakao.scss";
@import "components/zafiamniry.scss";
@import "components/map.scss";
@import "components/comments.scss";

*{
    font-family: 'Lato', sans-serif;
    color: rgb(52, 64, 71);
}

.up{
      
  i{
     font-size: 28px;
     color: #fff;
     padding: 7px;
     border-radius: 8px;
     cursor: pointer;
     background-color: rgb(209, 118, 6);
     position: fixed;
     z-index: 30;
     top: 75vh;
     right: 2%;

      &:hover{
        background-color: rgb(27, 26, 25);
      }
  }
}

@media screen and (min-width: 992px) {
  .up{
      
    i{
       position: fixed;
       z-index: 30;
       top: 88vh;

        &:hover{
          background-color: rgb(27, 26, 25);
        }
    }
  }
  
}

@media screen and (max-width: 575px) {
  .up{
      
    i{
       position: fixed;
       top: 82vh;
       right: 2%;
  
        &:hover{
          background-color: rgb(27, 26, 25);
        }
    }
  }
  
}

@media screen and (min-width: 576px) and (max-width: 991px) {
  .up{
      
    i{
       position: fixed;
       top: 92vh;
       right: 2%;
  
        &:hover{
          background-color: rgb(27, 26, 25);
        }
    }
  }
}





