
.about {
    position: relative;
    top: 3rem;

    .container {

        #col1 {

            h1 {
                color: rgb(209, 118, 6);
                font-size: calc(2.2rem + 1.5vw);
                font-weight: bolder;
                font-family: 'Signika', sans-serif;

            }


            .border {
                width: 6.6rem;
                height: 8px;
                border-radius: 18px;
                margin-left: 0.3rem;
                background-color: rgb(209, 118, 6);
            }


        }

        #col2 {
            img {
                border-radius: 10px;
            }
        }
    }
}

@media screen and (min-width: 576px) {
    .about {
        position: relative;
        top: 3rem;
    
        .container {
    
            #col1 {
    
                h1 {
                    color: rgb(209, 118, 6);
                    font-size: calc(1.9rem + 1.5vw);
                    font-weight: bolder;
                    font-family: 'Signika', sans-serif;
    
                }
    
    
                .border {
                    width: 6.6rem;
                    height: 7px;
                    border-radius: 18px;
                    margin-left: 0.3rem;
                    background-color: rgb(209, 118, 6);
                }
    
                p {
                    
                    margin-top: 2rem;
                    font-size: calc(0.5rem + 1vw);
                }
    
            }
    
            #col2 {
                img {
                    border-radius: 10px;
                    width: 105%;
                    height: 25rem;
                    margin-top: 7rem;
                }
            }
        }
    }
}

@media screen and (max-width :575px) {
    .about {
        position: relative;
        top: 4rem;

        #col1 {

            h1 {
                font-size: calc(1.9rem + 1.5vw);

            }

            p {
                font-size: calc(0.9rem + 1vw);
                margin-top: 1rem;
            }

        }
    }


    #col2 {
        
        img {
            border-radius: 10px;
            width: 100%;
            height: 20rem;
        }
    }
}