#cont{
  position: relative;
  top: 12rem;
}
.comments {
  position: relative;
  padding: 2px;
  padding-bottom: 50px;
  width: 60%;
  left: 25%;
  border-radius: 10px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.541);
   
    h1{
       font-size: 32px;
       margin-top: 3rem;
       margin-left: 0%;
       font-weight: 450;
       font-family: 'Acme', sans-serif;
    }

    .borde2{
      width: 6.6rem;
      height: 6px;
      border-radius: 18px;
      margin-left: 38.5%;
      margin-top: 1rem;
      background-color: rgb(209, 118, 6);
  }
  

    div{
       margin-top: -0rem;
       width: 84%;
       margin-left: 0%;
       padding-bottom: 4px;

       input[type="email"]{
          border: 1.5px solid;
          border-radius: 16px;
          padding: 6px;
          width: 180%;
          margin-left: 10%;
          font-size: 16px;

      }

      #name{
        border: 1.5px solid;
        border-radius: 16px;
        padding: 6px;
        font-size: 16px;
        margin-left: 10%;
      }

      #coms{
          border: 1.5px solid;
          border-radius: 16px;
          padding:3px;
          padding-bottom: 5rem;
          font-size: 16px;
          margin-left: 10%;


      }
        button{
          background-color: rgb(209, 118, 6);
          margin-left: 10%;
        }
    }
}

.links{
  position: relative;
  left: 18%;
  top: 5rem;
  h1{
      font-size: 36px;
      font-family: 'Acme', sans-serif;
      font-weight: bold;
  }

  img{
    width: 140px;
    height: 140px;
    margin-top: -1rem;
    margin-left: 3rem;

       &:nth-child(2){
        width: 65px;
        height: 65px;
       }
  }
}

@media (max-width: 575px) {
  .comments {
      position: relative;
      top: 8rem;
      padding: 4px;
      padding-bottom: 30px;
      width: 94%;
      left: 2.9%;

      h1{
        font-size: 32px;
        margin-top: 3rem;
        margin-left: 3%;
        font-weight: 450;
        font-family: 'Acme', sans-serif;
     }
 
     .borde2{
       width: 6.6rem;
       height: 6px;
       border-radius: 18px;
       margin-top: 1rem;
       background-color: rgb(209, 118, 6);
   }
   
 
     div{
        margin-top: -0rem;
        margin-left: 5%;
        padding-bottom: 4px;
        width: 89%;
 
        input[type="email"]{
           border: 1.5px solid;
           width: 150%;
           border-radius: 16px;
           padding: 6px;
           width: 180%;
           margin-left: 1%;
           font-size: 16px;
 
       }
 
       #name{
         border: 1.5px solid;
         border-radius: 16px;
         padding: 6px;
         font-size: 16px;
         margin-left: 1%;
       }
 
       #coms{
           border: 1.5px solid;
           border-radius: 16px;
           padding: 6px;
           padding-bottom: 8rem;
           font-size: 16px;
           margin-left: 1%;
 
 
       }
         button{
           background-color: rgb(209, 118, 6);
           margin-left: 1%;
         }
     }
  }

  .links{
    position: relative;
    left: 2%;
    top: 5rem;
    h1{
        font-size: calc(1.5rem + 1.5vw);
        font-family: 'Acme', sans-serif;
        font-weight: bold;
    }
  
    img{
      width: 150px;
      height: 150px;
      margin-top: -1rem;
      margin-left: 9.5%;
  
         &:nth-child(2){
          width: 65px;
          height: 65px;
         }
    }
  }
}

@media (min-width: 576px) and (max-width: 991px){
  .links{
    position: relative;
    left: 3%;
    top: 5rem;
    h1{
        font-size: 33px;
        font-family: 'Acme', sans-serif;
        font-weight: bold;
    }
  
    img{
      width: 120px;
      height: 120px;
      margin-top: -1rem;
      margin-left: 3rem;
  
         &:nth-child(2){
          width: 50px;
          height: 50px;
         }
    }
  }
  
  .comments {
     text-align: center;
     margin-left: -4.5%;
     width: 60%;
     margin-top: 8rem;

     h1{
      font-size: 36px;
      margin-top: 3rem;
      margin-left: 2%;
      font-weight: 450;
      font-family: 'Acme', sans-serif;
   }

   .borde2{
     width: 6.6rem;
     height: 6px;
     border-radius: 18px;
     margin-top: 1rem;
     background-color: rgb(209, 118, 6);
 }
 

   div{
      margin-top: -0rem;
      margin-left: 5%;
      padding-bottom: 4px;

      input[type="email"]{
         border: 1.5px solid;
         border-radius: 16px;
         padding: 6px;
         width: 180%;
         margin-left: 4%;
         font-size: 16px;

     }

     #name{
       border: 1.5px solid;
       border-radius: 16px;
       padding: 6px;
       font-size: 16px;
       margin-left: 4%;
     }

     #coms{
         border: 1.5px solid;
         border-radius: 16px;
         padding: 6px;
         padding-bottom: 8rem;
         font-size: 16px;
         margin-left: 4%;


     }
       button{
         background-color: rgb(209, 118, 6);
         margin-left: 4%;
       }
   }
  }
}