// font-weight: 600;
//     font-size: 16px;
//     text-transform: capitalize;
//     color: #fff;
//     background: #ff4838;
//     border-radius: 3px;
//     position: absolute;
//     padding: 9px 32px;
//     bottom: 0;
//     left: 20px;
//     transform: translateY(50%);
//     clip-path: polygon(9% 0,90% 3%,100% 94%,0 100%);

.circuit {
   margin-top: 13.5rem;

   .container {

      .tour_t{
         color: rgb(209, 118, 6);
         font-size: calc(2.3rem + 1.5vw);
         font-weight: bolder;
         margin-left: -0.2rem;
         font-family: 'Signika', sans-serif;
   
       }
   
       .border2 {
         width: 6.6rem;
         height: 5px;
         border-radius: 18px;
         margin-left: 0.3rem;
         background-color: rgb(209, 118, 6);
       }
   


      h1 {
         color: rgb(209, 118, 6);
         margin-left: 3rem;
         font-weight: bold;
         font-family: 'acmeregular';
         font-size: calc(1.3rem + 1.5vw);
      }

      .border_ {
         width: 6.6rem;
         height: 6px;
         border-radius: 18px;
         margin-left: 3.3rem;
         background-color: rgb(209, 118, 6);
      }

      .row {
         margin-top: 5rem;

         .box {
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
            padding: 20px;
            border-radius: 15px;
            margin-bottom: 95px;
            overflow: hidden;

            h4 {
               font-weight: 600;
                   font-size: 18px;
                   text-transform: capitalize;
                   color: #fff;
                   width: 65%;
                   background-color: rgb(209, 118, 6);
                   border-radius: 3px;
                position: relative;
                  bottom: 0;
                  padding:14px 32px;
                  left: 10px;
                  transform: translateY(-45%);
                  clip-path: polygon(9% 0,90% 3%,100% 94%,0 100%);

               i {
                  color: rgb(209, 118, 6);
               }

            }

            h2 {
               font-size: calc(1rem + 1vw);
               font-weight: bold;
               font-family: 'Acme', sans-serif;
            }

            button {
               margin-left: 3%;
               margin-top: 1.1rem;
               font-size: 19.5px;
               border-radius: 5px;
               border: 1px solid rgb(209, 118, 6);
               color: rgb(209, 118, 6);

                i{
                  color: rgb(209, 118, 6);
                }

                &:hover{
                   background-color: rgb(209, 118, 6);
                   color: #fff;
                     
                    i{
                     color:#fff;
                    }
                }
            }

            img {
               width: 120%;
               height: 14rem;
               margin-left: -21px;
               margin-top: -21px;
               margin-right: 21px;

            }
         }

      }

   }
}

@media screen and (max-width: 575px) {
   .circuit {
      margin-top: 13.5rem;
   
      .container {

         h1 {
            color: rgb(209, 118, 6);
            margin-left: 3rem;
            font-weight: bold;
            font-family: 'acmeregular';
            font-size: calc(1.1rem + 1.5vw);
         }
   
         .row {
            margin-top: 5rem;
   
            .box {
            
               h2 {
                  font-size: calc(1.4rem + 1vw);
                  font-weight: bold;
                  font-family: 'Acme', sans-serif;
               }
   
               button {
                  margin-left: 3%;
                  margin-top: 1.1rem;
                  font-size: 19.5px;
                  border-radius: 5px;
                  border: 1px solid rgb(209, 118, 6);
                  color: rgb(209, 118, 6);
   
                   i{
                     color: rgb(209, 118, 6);
                   }
   
                   &:hover{
                      background-color: rgb(209, 118, 6);
                      color: #fff;
                        
                       i{
                        color:#fff;
                       }
                   }
               }
   
               img {
                  width: 120%;
                  height: 14rem;
                  margin-left: -21px;
                  margin-top: -21px;
                  margin-right: 21px;
   
               }
            }
   
         }
   
      }
   }
}

@media screen and (min-width: 576px) and (max-width: 991px) {
   .circuit{
      margin-top: 17.5rem;
   }
 }