

@font-face {
  font-family: 'font-1';
  src: url('./../../../fonts/josefinsans-variablefont_wght-webfont.woff2') format('woff2'),
       url('./../../../fonts/josefinsans-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@media screen and (min-width: 1024px) and (max-width: 2880px) {
    
  .ok{
 
    box-sizing: border-box;
   
    }
  
header{
    background-color:white;
    height:2.2cm;
    width:100%;
    position: fixed;
    z-index: 30;
    top:0;

       #bord{
         display: none;
       }

      .h_bord{
        display: none;
       }
   }

   .header{
    background-color:white;
    height:2.2cm;
    width:100%;
    position: fixed;
    z-index: 4;
   }

   

   #tour_js{
    width: 22vw;
    height: 29rem;
    overflow: hidden;
    border-radius: 8px;
    background-color: #212424;
    position: relative;
    left: 30vw;
    top: -12rem;

    box-sizing: border-box;

       li{
         
          top: 0.6rem;
          margin-top: 2rem;
          font-size: 24px;
          font-family: 'abril_fatfaceregular';
          position: relative;
          left: 2vw;

            a{
              font-size: 24px;
              font-family: 'abril_fatfaceregular';
              color: antiquewhite;
              position: relative;
              left: -1vw;

                
            }
       }
   }

    .logo{
        width: 155px;
        height: 68px;
        left: 2rem;
        position: fixed;
        z-index: 40;
        top: 1rem;
    }

  .logoBurger{
    position: absolute;
    left: -8rem;

} 

  header ul {
  position: relative;
  top: -2.5rem;
  right: 3vw;
  display: flex;
  list-style-type: none;
  height:1cm;
  padding-top:5rem;
  padding-bottom: 14rem;
  overflow: hidden;
  float: right;
    }
    
    li a{
     margin : 1.7px;
     font-size: 19px;
     padding:17px;
     color:rgb(64, 56, 56);
       i{
         color: #000;
       }

    
        &:hover:not(.active) {
            background-color: #d6d61e;
            border-radius: 8px;
            text-decoration: none;
            color:rgb(64, 56, 56);
            }
    }

    
    .versionAng{
    margin-left: 1vw;
    font-size: 19px;
    color: rgb(64, 56, 56);
    }


  .imgAng{
  position: relative;
  left :0rem;
  top:0rem;
  width:30px;
  border-radius: 40%;
  height: 30px;

  .fenetreFrancais{
    position: relative;
    float: right;
    z-index: 4;
    transform: translateY(-4.5cm);
    @include div(5cm, 2cm, 94rem, 8.3rem, #04AA6D);
    }

   

        p{
            cursor: pointer;
            @include p(20px, 7rem, 2rem);
            }

}

    .show{
      transform: translateY(0);
      transition: 0.14s;
    }

    
    #ang{
      cursor: pointer;
    }

    .container_responsive{
      display: none;
    }

    .active {
      color: white;
      background-color: #04AA6D;
      border: opx solid;
      border-width: 20px;
      border-radius: 8px;
      text-decoration: none;
      
      } 


}

@media screen and (min-width: 280px) and (max-width: 763px) {
  header{
    position: fixed;
    width: 100%;
    height: 2.2cm;
    z-index: 20;
    top: 0;
    background-color: hsl(0, 0%, 100%);

    #bord{
          width: 55vw;
          display: block;
          height: 3px;
          background-color: #fff;
          position: relative;
          left: 23vw;
          top: 5.7rem;
    }

    .h_bord{
     display: block;
     position: relative;
     top: 6rem;
     font-size: 25px;
    
     font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-weight: bolder;
    }

    ul{
        display: none;
        z-index: 4;
        position: absolute;
        left: -11.5vw;
        text-align: center;
        align-items: center;
        justify-content: center;
        top: -10rem;
        padding-bottom: 12.5cm;

         li{
            margin: 17px;
             
            a{
              font-size: 24.6px;
              padding: 6px;
              color: #1d1a1a;
              font-family: 'font-1';
              font-weight: 1000;
            }

            .active {
               color: white;
              background-color: #04AA6D;
               border: opx solid;
              border-width: 75px;
               padding-right: 75px;
               width: 50vw;
              border-radius: 5px;
              padding-left: 75px;
              // text-decoration: none;
              
              } 
            }
        }
    }
    
.logo{
    position: fixed;
    top: 1.4rem;
    left: 2.4rem;
    width: 3.2cm;
    height: 1.5cm;
    z-index: 30;
}
    
     
.header{
    position :absolute;
    top: 8.2rem;
    overflow: hidden;
    // transform: translateY(-150rem);
    width: 100%;
    height: 0rem;
    background-color: #1ed661e7;
    z-index: 4;
    transition : 0.6s;
    }

   

      
    .versionAng{
        margin-left: 3rem;
        margin-top: -8rem;
        font-size: 21px;
        color: rgb(64, 56, 56);
        }
    
    
      .imgAng{
      position: relative;
      left :0rem;
      top:0rem;
      width:30px;
      border-radius: 40%;
      height: 30px;
    
      .fenetreFrancais{
        position: relative;
        float: right;
        z-index: 4;
        display: none;
        transform: translateY(-4.5cm);
       
        }
    
       
    
            p{
                cursor: pointer;
                @include p(20px, 7rem, 2rem);
                }
    
    }
    
        .show{
          transform: translateY(0);
          transition: 0.14s;
        }
    
        
        #ang{
          cursor: pointer;
        }
    
.logoBurger i{
    font-size: 26px;
    position: relative;
    float: right; 
    // right: -529rem;
    top:2.2rem;
    border-radius: 20%;
    padding: 6px;
    margin-right: 3rem;
    border: 1.5px solid black;
    z-index: 24;
    color:black;

      &:hover{
        border: 0px solid #1ed661;
        background-color: #1ed640;
      }
      
}
    
     
.hideshow{
    // transform: translateY(-0.2rem);
    transition: 0.4s;
    height: 100vh;
}

.hideshow2{
    display: block;
    position: absolute;
    top: 2.5rem;
  
}
   
}